$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-screen-sm-min: 768px;
$grid-screen-md-min: 992px;
$grid-screen-lg-min: 1200px;

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    @media (min-width: $grid-screen-sm-min) {
        max-width: 750px;
    }
    @media (min-width: $grid-screen-md-min) {
        max-width: 970px;
    }
    @media (min-width: $grid-screen-lg-min) {
        max-width: 1170px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
}

[class*="col-"] {
    position: relative;
    width: 100%;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}

@mixin grid-col($size) {
    flex: 0 0 percentage($size / $grid-columns);
    max-width: percentage($size / $grid-columns);
}

@for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
        @include grid-col($i);
    }
}
@media (min-width: $grid-screen-sm-min) {
    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            @include grid-col($i);
        }
    }
}
@media (min-width: $grid-screen-md-min) {
    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            @include grid-col($i);
        }
    }
}
@media (min-width: $grid-screen-lg-min) {
    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            @include grid-col($i);
        }
    }
}
