// -----------------------------------------------------------------------------
// This file contains all styles related to the 'awesome' page.
// -----------------------------------------------------------------------------

.awesome {
  font-family: Caveat;
}

.awesome-header {
  background: url("/assets/img/head-project-background.png") no-repeat center top #0D343C;
  padding: 20px 0;

  .container {
    padding-left: 35px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 12px;
    a  {
      font-size: 36px;
      color: white;
      
      &:hover, &:focus {
        opacity: 0.75;
        text-decoration: none;
      }
    }
  }

  p {
    font-size: 20px;
    color: white;
  }

  .how-to {
    .awesome {
      font-size: 35px;
    }

    p {
      color: $text-color;
    }

    .btn-default {
      margin-right: 20px;
      margin-bottom: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 18px;
      color: rgba(255,255,255,0.7);
      float: right;
    }

    .badge {
      background-color: $brand-primary;
    }
  }
}

#container-awesome-all {
  .awesome-header {
    padding-bottom: 50px;
  }

  .awesome-content {
    margin-top: -40px
  }

  .sidebar {
    max-height: calc(100vh - 20px);
    overflow: auto;
    background: white;
    padding: 20px;
    @media screen and (max-width: $screen-md-min) {
      margin: 0 15px 20px 15px;
    }  
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    h3 {
      font-size: 20px;
    }
    .btn {
      border: 1px solid $gray-light;
    }
  }

  .filter {
    display: inline-block;
  }

  nav {
    h3 {
      margin-bottom: 24px;
    }
    ul {
      padding-left: 20px;
      list-style-type: none;
    }
    li {
      font-family: $headings-font-family;
      margin-bottom: 10px;
      font-size: 14px;

      &.active {
        color: $brand-primary;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover, &:focus {
        color: $brand-primary;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .sidebar {
      position: static;
      overflow: visible;
    }

    nav {
      display: none;
    }
  }

  .meta-category {
    background: white;
    margin-bottom: 40px;
    padding: 30px 20px;
    h2 {
      text-align: center;
      text-transform: uppercase;
      color: $brand-primary;
      margin-bottom: ($line-height-computed * 1.5);
    }
    &>.row {
      font-size: 0;
    }
    .category, .see-also {
      float: none;
      display: inline-block;
      vertical-align: top;
      padding: 0 30px;
      font-size: 16px;
      h3 {
        color: $brand-secondary;
        margin-top: 40px;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover, &:focus {
          color: $brand-primary;
          h4 {
            color: $brand-primary;
          }
        }
      }
    }
    .category {
      h3 {
        a {
          font-size: 22px;
          color: $brand-secondary;
        }
      }
      ol {
        padding: 0;
        list-style-type: none;
      }
      .see-more {
        float: right;
        padding-right: 20px;
      }
    }
    .see-also {
      li {
        font-size: 18px;
        font-family: $font-family-serif;
        color: $brand-secondary;
      }
    }
    .project {
      padding: 10px;
      img {
        width: 28px;
        height: auto;
        margin-right: 15px;
      }
      h4 {
          margin: 0;
          font-size: 16px;
          display: inline;
      }
      p {
        margin: 0;
      }
    }
    .stats {
      vertical-align: middle;
      float: right;
    }
  }
}

#container-awesome-category {
  .awesome-header {
    h2 {
      margin-top: 10px;
      font-size: 33px;
    }
    .dropdown {
      float: right;
    }
    .dropdown-toggle {
      background: rgba(255,255,255,0.1);
      font-size: 18px;
      color: white;
    }
    .bs-placeholder {
      color: rgba(255,255,255,0.5);
    }
  }
  background: $gray-lighter;
  padding-bottom: 40px;
  @media screen and (min-width: $screen-md-min) {
      padding-bottom: 80px;
  }
  .topbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sidebar {
    padding: 20px;
  }
  .result-count {
    padding-top: 10px;
  }
  .order-by {
    margin-top: 20px;
    span {
      margin-right: 8px;
    }

    .btn-primary {
      @include button-variant($btn-primary-color,
              rgba($gray-darker, 0.7),
              $btn-primary-border);
    }
    @media screen and (min-width: $screen-md-min) {
      float: right;
      margin-top: 0;
    }
  }

  .filters {
    padding-left: 0;

    li {
      display: block;

      input {
        margin-right: 12px;
      }
    }
  }

  .list-result {
    .item-list {
      display: block;

      padding: 15px 0;
      margin: 0;
      border-bottom: 1px solid rgba($gray-dark, 0.12);

      .targets,
      .homepage,
      .description {
          margin-bottom: 0;
          display: inline-block;
      }
      .targets {
          padding-left: 16px;
      }
      h4 {
        padding-left: 44px;
        margin-bottom: 7px;
        margin-top: 0;
        a {
            color: $gray-darker;
        }
      }
      img {
        float: left;
        width: 28px;
        height: auto;
      }
      .stats {
        padding-left: 22px;
        margin-top: 12px;
        span {
          margin-left: 20px;
          a {
            &:hover,
            &:focus {
                text-decoration: none;
            }
          }
        }
        .item-filter-tag {
          color: $gray-light;
          font-style: italic;
          font-weight: 300;
        }
        @media screen and (min-width: $screen-md-min) {
          text-align: right;
        }
				.commit-activity-container{
					max-height:40px;
				}
      }
      a {
        color: $gray;
        &:hover,
        &:focus {
            color: $brand-primary;
        }
      }
    }
  }
}
