// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
// Result page
// -----------------------------------------------------------------------------
// Project page
// -----------------------------------------------------------------------------
#bottom {
    padding: 40px 0;
    background: $gray-darker;
    color: rgba(#fff, 0.5);

    
    .footer-top {
        margin-bottom: 40px;
        padding-bottom: 1px;
        ul {
            list-style-type: none;
            @include make-row();

            li {
            margin-bottom: 3px;
                h5 {
                    color: #fff;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-family: $font-family-base;
                    font-weight: 700;
                    font-size: $font-size-large;
                }

                a {
                color: rgba(#fff, 0.5);
                font-size: $font-size-base;

                &:active,
                &:focus,
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
                }
            }
        }
        ul.social {
            text-align: left;
            // @media screen and (min-width: $screen-md-min) {
            //     text-align: right;
            // }
            li {
                display: block;
                margin-right: 10px;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .sponsors img {
            width: 180px;
            margin: 10px;
            height: auto;
        }
        .copyright {
            text-align: left;
        }
    }
}