// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
.autocomplete {
    //display: none;
    width: 100%;
    background: #fff;
    top: 42px;
    left: 0;
    position: absolute;
    z-index: 9999;
    @include box-shadow(0 2px 20px rgba(0, 0, 0, 0.2));
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 15px;
            list-style: none;
            border-bottom: 1px solid rgba($gray-darker, 0.1);
            &:last-child {
                border-bottom: none;
            }
            a {
                color: $gray;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
                p {
                    color: $gray-dark;
                    margin: 0;
                    font-weight: 400;
                    font-family: $font-family-serif;
                }
            }
            &:hover, &.selected {
                background: $gray-lighter;
                cursor: default;
            }
        }
    }
}

// Result page
// -----------------------------------------------------------------------------
// Project page
// -----------------------------------------------------------------------------
#top {
    nav {
        background: $gray-darker;
        padding: 30px 0;

        .logo {
            margin-bottom: 15px;

            @media screen and (min-width: $screen-md-min) {
                margin-bottom: 0;
            }
        }

        .awesome {
          font-family: Caveat;
          font-size: 21px;
          padding: 3px 10px;
        }

        .btn-default {
          background-color: #224951;
          color: white;
          &:hover, &:focus {
            opacity: 0.75;
            text-decoration: none;
          }
        }

        .btn {
          margin-left: 16px;
          min-height: 39px;
          i {
              margin-right: 8px;
          }
          display: inline-block;
          width: auto;
          &:hover, &:focus {
            opacity: 0.75;
          }
        }
        .has-feedback {}
        .you {
            img {
                padding-right: 5px;
                height: 38px;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }

            margin-top: 15px;
            padding: 0 10px 0 0;

            @media screen and (min-width: $screen-md-min) {
                margin-right: 10px;
                margin-top: 0;
            }
        }
    }
}
