// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

// Sticky Footer
// -----------------------------------------------------------------------------
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.banner {
  background: #0c353c;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  transition: $base-transition;
  position: relative;

  @include bp(medium) {
    padding: 10px 40px;
  }

  span {
    position: absolute;
    right: 20px;
    top: 3px;
    z-index: 1;
    cursor: pointer;
    font-size: 1.275rem;
    opacity: 0.6;
    transition: $base-transition;
    &:hover {
      opacity: 1;
    }
    i { font-size: x-large; }
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.list-inline {
  > li {
    font-size: 18px;
    padding: 3px;
  }

  .label-default {
    background-color: $gray-light;
    font-weight: 500;
  }
}

// Common Pop-up
.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;

  .popup {
    margin: 70px auto;
    padding: 40px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: calc(100vh - 100px);
    overflow: auto;

    h2 {
      margin-top: 0;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: #06D85F;
      }
    }

    .content {
      max-height: 30%;
      overflow: auto;
    }
  }

  &:target {
    display: block;
  }
}

// Home page
// -----------------------------------------------------------------------------
#container-home {
  .content-search-home {
    background: url('/assets/img/head-project-background.png') no-repeat center top #0D343C;
    padding: 80px 0 100px 0;
    h1 {
      font-size: 42px;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
    .tag {
      padding: 0;
      margin-top: 10px;
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #fff;
          text-decoration: underline;
          padding: 0 5px;
          &:hover,
          &:focus {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
    .has-feedback {

      width: 100%;
      .autocomplete {
        top: 64px;
        ul {
          li {
            padding: 0;
            a {
              display: block;
              padding: 15px;
              p {
                font-size: ($font-size-base * 1.3);
              }
            }
          }
        }
      }
      .form-control {
        font-size: 20px;
        min-height: 60px;
        padding-left: 60px;
      }
      .form-control-feedback {
        font-size: 20px;
        height: 60px;
        width: 60px;
        padding-top: 10px;
      }
    }
  }
  .recent-projects,
  .recent-releases,
  .contributors-wanted {
    padding: 40px 0 80px 0;
    h2 {
      margin-bottom: ($line-height-computed * 1.5);
    }
  }
  .recent-projects,
  .recent-releases {
    a {
      h4 {
        font-size: 16px;
      }
      p,
      span {
        color: $gray;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        h4 {
          color: $brand-primary;
          text-decoration: underline;
        }
      }
    }
  }
  .recent-releases {
    .more-results {
      margin-top: 20px;
    }
    background: rgba($gray-dark, 0.07);
  }

  .recent-releases,
  .contributors-wanted {

    .list-result {

      .item-list {
        p {
          margin-bottom: 16px;
          margin-top: 12px;
          margin-left: 44px;
          text-align: left;
        }

        .stats {
          margin-top: 0;
        }

        @media screen and (min-width: $screen-md-min) {

          p {
            margin: 0;
            text-align: center;
          }

        }
      }
    }
  }
  .content-project {
    &.box {
      padding: 10px;
    }
    height: 186px;
    margin-bottom: 30px;
    .content-project-header {
      & > img,
      & > h4 {
        display: inline-block;
        vertical-align: middle;
      }
      border-bottom: 1px solid rgba($gray-dark, 0.12);
      padding-bottom: 20px;
      margin-bottom: 20px;
      h4 {
        margin: 0;
        display: inline-block;
        padding-left: 15px;
        width: 90%;
      }
      img {
        width: 28px;
        height: auto;
        float: left;
      }
    }
    .content-project-body {}
    &:hover,
    &:focus {
      @include box-shadow(0 1px 15px rgba(0, 0, 0, 0.15));
    }
  }

  .contributing-projects {
    h2 {
      margin-bottom: 0;
    }
    h4 {
      margin-bottom: ($line-height-computed * 1.5);
    }
    .content-contributing-project {
      overflow-y: auto;

      @extend .content-project;
      height: 500px;

      ul {
        padding-left: 10px;
      }

      h4 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        width: 90%;
      }
      img {
        width: 28px;
        height: auto;
        float: left;
      }
      a {
        text-decoration: underline;

        display: block;
        padding-bottom: 10px;
        color: $gray;
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
      td {padding-left: 20px;}
    }
  }
}

// Result page
// -----------------------------------------------------------------------------
#container-search {
  background: $gray-lighter;
  padding: 30px 0 40px 0;
  @media screen and (min-width: $screen-md-min) {
    padding: 60px 0 80px 0;
  }
  .result-count,
  .filter-tag {
    margin: 0;
    padding: 10px 0 0 0;
  }
  .filter-tag {
    li {
      display: inline-block;
      margin-right: 10px;
      .active {
        color: $gray;
        text-decoration: none;
        cursor: default;
      }
    }
  }
  .order-by {
    margin-top: 20px;
    span {
      margin-right: 8px;
    }

    h3 {
      display: inline-block;
      margin-right: 20px;
    }

    .btn-primary {
      @include button-variant($btn-primary-color,
          rgba($gray-darker, 0.7),
          $btn-primary-border);
    }
    .bootstrap-select {
      width: 100%;
    }
    .dropdown-menu {
      border: none;
    }

    @media screen and (min-width: $screen-md-min) {
      float: right;
      margin-top: 0;
    }
  }

  .filters {
    padding-left: 0;

    li {
      display: block;

      input {
        margin-right: 12px;
      }
    }
  }

  .filters, .list-result {
    margin-top: 20px;
  }

  .list-result {
    .item-list {
      display: block;

      padding: 15px 0;
      margin: 0;
      border-bottom: 1px solid rgba($gray-dark, 0.12);

      .targets,
      .homepage,
      .description {
        margin-bottom: 0;
        display: inline-block;
      }
      .targets {
        padding-left: 16px;
      }
      h4 {
        padding-left: 44px;
        margin-bottom: 7px;
        margin-top: 0;
        a {
          color: $gray-darker;
        }
      }
      img {
        float: left;
        width: 28px;
        height: auto;
      }
      .stats {
        padding-left: 22px;
        margin-top: 12px;
        span {
          margin-left: 20px;
          a {
            &:hover,
            &:focus {
              text-decoration: none;
            }
          }
        }
        .item-filter-tag {
          color: $gray-light;
          font-style: italic;
          font-weight: 300;
        }
        @media screen and (min-width: $screen-md-min) {
          text-align: right;
        }
      }
      a {
        color: $gray;
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
    }
    .contributing-result {
      a {
        display: block;
        padding-bottom: 10px;
      }
      td {padding-left: 80px;}
      p {padding-bottom: 20px;}
    }
  }
}

// Project page
// -----------------------------------------------------------------------------
#container-project {
  background: $gray-lighter;
  padding: 0 0 40px 0;

  .content-project {
    border-top-left-radius: 0;
    margin-bottom: 10px;
    margin-top: -40px;
  }

  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 80px;
  }

  .statistic {
    margin-bottom: 30px;
    ul {
      li {
        margin-bottom: 8px;
        padding-right: 0;
        display: block;
        a {
          color: $gray;
          &:hover,
          &:focus {
            text-decoration: $link-hover-decoration;
          }
          i {
            min-width: 25px;
          }
        }
      }
    }
    a {
      color: inherit;
    }
  }

  .content-main {
    .markdown-body {
      .anchor {
        display: inline-block;
        padding-right: 2px;
        margin-left: -18px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:hover {
          .octicon-link {
            visibility: visible;
          }
        }
        .octicon-link {
          vertical-align: middle;
          visibility: hidden;
        }
      }
    }

    h3 {
      margin-top: ($line-height-computed / 1.7);
      margin-bottom: $line-height-computed;
    }
    p {
      margin: 0 0 $line-height-computed;
    }
  }

  .box {
    margin-bottom: 30px;
  }
  
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }

  .dependencies,
  .dependents {
    overflow: hidden;
    span {
      i {
        font-size: 14px;
      }
    }
    .label {
      font-size: 10px;
      padding: 2px 5px;
      top: -2px;
      position: relative;
      margin-left: 5px;
    }
  }
  
  .project-contributing-info {
    a {
      display: block;
      padding-bottom: 10px;
      color: $gray;
      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
    td {padding-left: 30px;}
  }

  .sidebar-project {
    margin-top: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 30px;
      margin-top: -40px;
    }
   
    h4 {
      margin-top: 0;
      margin-bottom: ($line-height-computed / 1.5);
    }
  }

  .collaborators {
    ul {
      li {
        margin: 0 6px 6px 0;
        display: inline-block;
        img {
          @include border-top-radius($border-radius-base);
          @include border-bottom-radius($border-radius-base);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .more-collaborators {
      padding-top: 15px;
    }
  }

  .edit-project {
    h1 {
      margin-top: 0;
      margin-bottom: 40px;
    }
    .btn-default {
      background: $gray-lighter;
      margin-left: 10px;
      &:focus,
      &:hover {
        background: $gray-light;
        color: $gray-lighter;
      }

    }
    fieldset fieldset legend {
      font-size: 16px;
    }
    img[alt="Contributors Wanted"] {
      background-color: #002b37;
    }
  }
}
.deprecated-project {
  background-color: #FFF8C5;
  font-size: 22px;
  text-align: center;
  color: $gray-darker;
}

.install {
  .nav-tabs>li>a {
    background: transparent;
  }
  .nav-tabs>li.active {
    background: white;
  }
  .nav-tabs.nav-justified>.active>a {
    border: none;
  }

  .tab-pane {
    overflow: hidden;
    pre {
      overflow: auto;
      font-size: 14px;
      font-family: $font-family-monospace;
    }
  }
}

.head-project {
  padding: 20px 0;
  background: url('/assets/img/head-project-background.png') no-repeat center top #0D343C;
  color: #fff;
  .head-last-version {
    color: $gray-lighter;
  }
  .bootstrap-select > {
    .dropdown-toggle {
      width: auto;
      min-width: 140px;
      padding-right: 25px;
      z-index: 1;
    }
  }
  .info-project {
    margin-bottom: 60px;

    h1 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 12px;
      color: $brand-primary;
    }

    .btn-link {
      margin-left: 10px;
      margin-top: 0;
      margin-bottom: 12px;
      background: #3985aaba;
      color: aliceblue;
      border-radius: 32px;
      padding: 3px 10px;
    }

    .contributors-tag {
      margin-left: 0;
      img {
        height: 25px;
        margin-bottom: 12px;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      .contributors-tag {
        margin-left: 20px;
      }
      .btn-link {
        float: right;
        margin-top: 8px;
      }
    }
    i {
      margin-right: 6px;
    }
    p {
      font-size: $font-size-large;
      margin-top: 10px;
    }
    .description {
      display: inline-block;
    }
    .project-links {
      margin-bottom: 10px;
      a {
        font-size: large;
        margin-right: 10px;
      }
      .btn {
        padding: 6px 12px;
      }
    }
  }

  .project-nav-bar {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 18px;

    .nav-tabs > li > a {
      color: $gray-lighter;
    }

    .nav-tabs > li.active > a {
      color: $brand-primary;
      cursor: pointer;
    }
  }
}

.artifacts {
  .artifacts-filter {
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .center {
    @media (min-width: $screen-md-min) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .artifact-version {
    font-size: 30px;
    color: $brand-secondary;
    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  .artifact-info {
    @media (min-width: 600px) {
      float: right;
    }
  }
  .fa-solid {
    margin-left: 5px;
  }
  .scala-version {
    padding-left: 15px;
  }
  .artifact-content {
    h5 {
      display: inline;
    }
  }
  .filter-option-inner-inner {
    color: white;
  }
  .dropdown {
    margin-right: 15px;
  }
  .list-inline {
    margin-top: 5px;
    margin-left: 0;
    .label {
      font-size: 14px;
      font-weight: 500;
    }
    i {
      margin-right: 20px;
    }
  }
  .result-count {
    float: right;
    font-size: 16px;
  }
}
.artifact {
  h3 {
    margin-top: 0;
    font-size: 2em;
    display: inline;
    color: $brand-secondary;
    a {
      color: inherit;
      text-decoration: none;
      &:hover, &:focus {
        color: $brand-primary;
      }
    }
  }
  .artifact-version {
    margin-left: 20px;
  }
  .artifact-info{
    margin-top: 20px;
  }
}


.version-matrix {
  table {
    margin-top: 25px;
  }

  table, th, td {
    border: 1px solid black;
  }

  td, th {
    padding: 5px;
  }

  tbody {
    tr:hover {
      background-color: beige;
    }

    tr:nth-child(odd) {
      background-color: #ccc;
    }
  }

  .artifact {
    min-width: 200px;
  }

  .supported {
    color: green;
    text-align: center;
    display: block;

    &:before {
      content: 'â—';
      font-size: 50px;
    }
  }
}

.project-badges {
  .badge-section {
    overflow: hidden;
  }

  img {
    margin-bottom: 24px;
  }
}

.float-right {
  float: right;
}

.documentation-link {
  ul {
    padding-left: 0;
  }

  li {
    display: block;
  }
}

html, body {
  height: 100%;
}

.white {
  color: #fff;
}

#admin-content {
    .table>thead>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>th,
    .table>tbody>tr>td,
    .table>tfoot>tr>th,
    .table>tfoot>tr>td {
        vertical-align: middle;
    }
}