<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="INFO" />
    <logger name="com.sksamuel" level="INFO" />
    <logger name="org.elasticsearch" level="INFO" />
    <logger name="org.flywaydb" level="WARN"/>

    <!--   TODO: implement authentication instead of silencing the log https://github.com/scalacenter/scaladex/issues/755-->
    <logger name="org.elasticsearch.client.RestClient" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>