[submodule "index"]
	path = index
	url = git@github.com:scalacenter/scaladex-poms.git
[submodule "contrib"]
	path = contrib
	url = git@github.com:scalacenter/scaladex-data.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:scalacenter/scaladex-metadata.git
