target/
.sass-cache
.idea
.esdata/
amm
sbt
server/scaladex.log
index/
contrib/
bin/.coursier
bin/.scalafmt
.DS_Store
data/DATA-PID
scaladex.log
.bloop/
.metals/
project/metals.sbt
.bsp/
project/gitignore.sbt
http-client.env.json
*.http