@import scaladex.view.Formats
@import scaladex.core.model.ArtifactDependency
@import scaladex.core.model.Project

@(ref: Project.Reference, allDeps: Seq[ArtifactDependency.Direct])
@internalDeps = @{allDeps.filter(_.isInternal(ref)).sorted}
@remainingDeps =   @{allDeps.filterNot(_.isInternal(ref)).sorted}
<div class="dependencies box">
  <h4>@Formats.plural(remainingDeps.size, "dependency", "dependencies")</h4>
  @dependencyBlock(remainingDeps)
</div>

@if(internalDeps.nonEmpty) {
<div class="dependencies box">
  <h4>@Formats.plural(internalDeps.size, "internal dependency", "internal dependencies")</h4>
  @dependencyBlock(internalDeps)
</div>
}

@* reusable code block for dependency listing *@
@dependencyBlock(dependencies: Seq[ArtifactDependency.Direct]) = {
  <ul>
  @for(fullDep <- dependencies){
    <li>
      <a href="@fullDep.url" target="_blank">
        @fullDep.name
      </a>
      v@{fullDep.version}
      <span class="label label-primary">@fullDep.artifactDep.scope</span>
    </li>
  }
  </ul>
}
