// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
//------------------------------------------------------------------------------

$brand-primary: rgb(242, 101, 39);
$brand-secondary: #073642;
$gray-darker: rgb(0, 43, 55);
$gray-dark: rgb(34, 73, 81);
$gray: rgb(88, 110, 117);
$gray-light: rgb(137, 146, 149);
$gray-lighter: rgb(229, 234, 234);

$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;


// Scaffolding
//------------------------------------------------------------------------------

$text-color: $gray;
$body-bg: $gray-darker;
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

//Typography
//------------------------------------------------------------------------------

// Lato
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,600,700);

// Roboto Slab
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

// Caveat
@import url(https://fonts.googleapis.com/css?family=Caveat);

$font-family-sans-serif: "Lato", sans-serif;
$font-family-serif: "Roboto Slab", serif;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size-base: 16px;
$line-height-base: 1.528571429;
$line-height-computed: floor($font-size-base * $line-height-base);
$line-height-large: 1.3333333;
$line-height-small: 1.5;

$font-size-large: ceil($font-size-base * 1.25);
$font-size-small: ceil($font-size-base * 0.85);

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;
$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;
$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$font-size-h1: floor(($font-size-base * 2.1)); // 33
$font-size-h2: floor(($font-size-base * 1.8)); // 28
$font-size-h3: floor(($font-size-base * 1.5)); // 24
$font-size-h4: floor(($font-size-base * 1.3)); // 20
$font-size-h5: $font-size-base; // 16
$font-size-h6: ceil($font-size-base * 0.85); // 14

$headings-font-family: $font-family-serif;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: $gray-dark;
$headings-small-color: $gray-light;


// Components
//------------------------------------------------------------------------------

$border-radius-base: 6px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// Tooltips
//------------------------------------------------------------------------------

$tooltip-bg: $gray-darker;

// Forms
//------------------------------------------------------------------------------

$input-color-placeholder: $gray-light;
$input-border: rgb(214, 221, 221);
$input-border-focus: $brand-secondary;
$input-height-base: $line-height-computed + ($padding-base-vertical * 2) + 2;

// Buttons
//------------------------------------------------------------------------------

$btn-default-color: $gray-dark;
$btn-default-bg: #fff;
$btn-default-border: rgb(214, 221, 221);
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

// Navs
//------------------------------------------------------------------------------

$nav-link-padding: 6px 16px;

// Code
//------------------------------------------------------------------------------

$code-color: $brand-primary;
$code-bg: $gray-lighter;
$pre-bg: $gray-lighter; 
$pre-color: $gray;


// Bootstrap-select
//------------------------------------------------------------------------------
$width-default: 140px;


// fonts
//------------------------------------------------------------------------------
$fa-font-path: "/assets/lib/font-awesome/fonts"; // no slash at the end it's added by font-awesome

// Animations
//------------------------------------------------
$base-duration: 350ms;
$base-timing: ease;
$base-transition: all $base-duration $base-timing;

// Breakpoints
//------------------------------------------------
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1130px;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$bp-xxlarge: 1400px;