@import akka.http.scaladsl.model.Uri
@import scaladex.view.html._
@import scaladex.core.model.search.SearchParams
@import scaladex.core.model.search.Pagination
@import scaladex.core.model.search.ProjectHit
@import scaladex.core.model.UserState
@import scaladex.core.model.BinaryVersion
@import scaladex.core.model.Platform

@(
  production: Boolean,
  params: SearchParams,
  uri: Uri,
  pagination: Pagination,
  projects: Seq[ProjectHit],
  user: Option[UserState],
  you: Boolean,
  topics: Seq[(String, Long)],
  targetTypes: Seq[(Platform.PlatformType, Long)],
  scalaVersions: Seq[(String, Long)],
  scalaJsVersions: Seq[(BinaryVersion, Long)],
  scalaNativeVersions: Seq[(BinaryVersion, Long)],
  sbtVersions: Seq[(BinaryVersion, Long)])
@main(production, title = s"Search ${params.queryString}", showSearch = true, user, params, you) {
  <main id="container-search">
    <div class="container">
      @result(
        params,
        uri,
        pagination,
        projects,
        user,
        you,
        topics,
        targetTypes,
        scalaVersions,
        scalaJsVersions,
        scalaNativeVersions,
        sbtVersions
      )
      </div>
    </div>
  </main>
}
