@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.core.model.web.ArtifactPageParams
@(
        env: Env,
        user: Option[UserState],
        project: Project,
        artifactName: Artifact.Name,
        currentArtifact: Artifact,
        artifacts: Map[BinaryVersion, Seq[Artifact]],
        artifactVersion: SemanticVersion,
        params: ArtifactPageParams,
        directDeps: Seq[ArtifactDependency.Direct],
        reverseDeps: Seq[ArtifactDependency.Reverse],
        numberOfVersions: Long,
        lastProjectVersion: SemanticVersion
)
@main(env, title = project.repository.toString, user) {
  <main id="container-project">
    @headproject(env, user, project, numberOfVersions, "Artifacts", lastProjectVersion)
    <div class="container">
      <div class="col-md-7">
        <div class="content-project">
          <div class="artifact box" data-organization="@project.reference.organization" data-repository="@project.reference.repository">
            <div class="artifact-head">
              <div class="float-right">
                <form>
                  <select name="binary-version" class="selectpicker"
                  data-style="btn-primary" onchange="this.form.submit()">
                  @for((platform, binaryVersions) <- artifacts.keys.groupBy(_.platform)) {
                    <optgroup label="@{platform.label}">
                    @for(binaryVersion <- binaryVersions) {
                      <option value="@binaryVersion.label"
                      @if(params.binaryVersion.contains(binaryVersion) || currentArtifact.binaryVersion == binaryVersion) {selected}>
                      @binaryVersion.toString
                      </option>
                    }
                    </optgroup>
                  }
                  </select>
                </form>
              </div>
              <h3>@artifactName</h3>
              <div class="artifact-version">@artifactVersion</div>
            </div>
            <div class="artifact-info">
              <div class="row">
                <div class="col-xs-4">Group ID:</div>
                <div class="col-xs-8">@currentArtifact.groupId</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Artifact ID:</div>
                <div class="col-xs-8">@currentArtifact.artifactId</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Version:</div>
                <div class="col-xs-8">@currentArtifact.version</div>
              </div>
            </div>
          </div>
          @install(currentArtifact, project.settings.cliArtifacts)
        </div>
      </div>
      <div class="col-md-5 sidebar-project">
        @documentation(currentArtifact, project)
        @dependencies(currentArtifact.projectRef, directDeps)
        @dependents(currentArtifact, reverseDeps)
      </div>
    </div>
  </main>
}