@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.view.html._
@import scaladex.core.web.ArtifactsPageParams
@import scaladex.core.model.Language
@import scaladex.core.model.Platform
@import scala.collection.SortedMap
@import scaladex.core.util.ScalaExtensions._
@import scaladex.core.util.TimeUtils
@import scaladex.view.Formats

@(params: ArtifactsPageParams, allBinaryVersions: Seq[BinaryVersion])

<form action="#" action="GET">
  <select class="selectpicker" name="binary-versions" 
    title="Scala Versions" multiple data-style="btn-primary" data-actions-box="true" data-selected-text-format="static"
    onchange="this.form.submit()">
    @for((platform, binaryVersions) <- allBinaryVersions.sorted.groupBy(_.platform)) {
      <optgroup label="@platform">
        @for(binaryVersion <- binaryVersions) {
          <option value="@binaryVersion.label">
            @binaryVersion.language.label
          </option>
        }
      </optgroup>
    }
  </select>
  <label class="filter btn btn-default">
    <input type="checkbox"  @if(params.preReleases) { checked } name="pre-releases" value="true" onclick="this.form.submit()">
    Show pre-release versions
  </label>
</form>