@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.core.model.web.ArtifactPageParams
@(
        env: Env,
        user: Option[UserState],
        project: Project,
        artifactName: Artifact.Name,
        currentBinaryVersion: BinaryVersion,
        artifacts: Map[BinaryVersion, Seq[Artifact]],
        artifactVersion: SemanticVersion,
        params: ArtifactPageParams,
        numberOfVersions: Long,
        lastProjectVersion: SemanticVersion
)
@currentArtifact = @{artifacts(currentBinaryVersion).head}

@main(env, title = project.repository.toString, user) {
  <main id="container-project">
    @headproject(env, user, project, numberOfVersions, "Artifacts", lastProjectVersion)
    <div class="container">
      <div class="col-md-8">
        <div class="content-project artifact box" data-organization="@project.reference.organization"
        data-repository="@project.reference.repository">
          <div class="artifact-head">
            <div class="row">
              <div class="float-right">
                <form>
                  <select name="binary-version" class="selectpicker"
                  data-style="btn-primary" onchange="this.form.submit()">
                  @for((platform, binaryVersions) <- artifacts.keys.groupBy(_.platform)) {
                    <optgroup label="@{platform.label}">
                    @for(binaryVersion <- binaryVersions) {
                      <option value="@binaryVersion.label"
                      @if(params.binaryVersion.contains(binaryVersion) || currentBinaryVersion == binaryVersion) {selected}>
                      @binaryVersion.toString
                      </option>
                    }
                    </optgroup>
                  }
                  </select>
                </form>
              </div>
              <div class="artifact-name">@artifactName</div>
            </div>
            <div class="artifact-version">@artifactVersion</div>
          </div>
          <div class="row artifact-information">
            <div class="col-xs-5">Group-id:</div> <div class="col-xs-7">@currentArtifact.groupId</div>
            <div class="col-xs-5">Artifact-id:</div> <div class="col-xs-7">@currentArtifact.artifactId</div>
            <div class="col-xs-5">Version:</div> <div class="col-xs-7">@currentArtifact.version</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar-project">
          @documentation(currentArtifact, project)
        </div>
      </div>
      <div class="col-md-8">
        @install(currentArtifact, project.settings.cliArtifacts)
      </div>
    </div>
  </main>
}