@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.view.html._
@import scaladex.core.web.ArtifactsPageParams
@import scaladex.core.model.Language
@import scaladex.core.model.Platform
@import scala.collection.SortedMap
@import scaladex.core.util.ScalaExtensions._
@import scaladex.core.util.TimeUtils
@import scaladex.view.Formats

@import java.time.Instant

@(
    env: Env,
    user: Option[UserState],
    project: Project,
    header: Option[ProjectHeader],
    groupedArtifacts: Map[SemanticVersion, Map[Artifact.Name, Seq[Artifact]]]
)

@main(env, title = project.repository.toString, user) {
  <main id="container-project">
    @headproject(env, user, project, header, "Artifacts")
    <div class="container">
      <div class="content-project artifacts box" data-organization="@project.reference.organization"
      data-repository="@project.reference.repository">
        <div class="artifacts-filter">
          <div class="result-count">
            <b>@groupedArtifacts.size</b> @Formats.wordPlural(groupedArtifacts.size, "version") found
          </div>
        </div>
        @if(groupedArtifacts.isEmpty) {
          <div>We can't find any artifacts for this project.</div>
        } else {
          <div>
            @for((version, artifactsByName) <- groupedArtifacts.toSeq.sortBy(_._1).reverse) {
              <h3>Version @version</h3>
              @for((artifactName, artifacts) <- artifactsByName.toSeq.sortBy(_._1)) {
                <h4>@artifactName</h4>
                <div class="artifact-content">
                  @for(
                    (platform, binaryVersions) <- artifacts
                      .map(_.binaryVersion)
                      .distinct
                      .sorted
                      .reverse
                      .groupBy(_.platform)
                      .toSeq
                  ) {
                    <h5>@platform:</h5>
                    @for(binaryVersion <- binaryVersions) { 
                      <a href="/@project.reference/artifacts/@artifactName/@version?binary-version=@binaryVersion.encode" class="scala-version">
                        @binaryVersion.language.label
                      </a>
                    }
                    <br>
                  }
                </div>
              }
            }
          </div>
        }
      </div>
    </div>
  </main>
}
