@import scaladex.core.model._
@import scaladex.core.web.ArtifactsPageParams
@import scaladex.view.html._

@import java.time.Instant

@(
  ref: Project.Reference,
  params: ArtifactsPageParams,
  allBinaryVersions: Seq[BinaryVersion],
  withStableOnly: Boolean = true
)

<form class="float-right" action="#" action="GET">
  <select class="selectpicker" name="binary-versions" 
    title= "@params.binaryVersionsSummary.getOrElse("Scala Versions")" multiple data-style="btn-secondary" data-actions-box="true" data-selected-text-format="static"
    onchange="this.form.submit()">
    @for((platform, binaryVersions) <- allBinaryVersions.sorted.groupBy(_.platform)) {
      <optgroup label="@platform">
        @for(binaryVersion <- binaryVersions.reverse) {
            <option value="@binaryVersion.label"
            @if(params.binaryVersions.contains(binaryVersion)) {selected}>
            @binaryVersion.language.label
            </option>
        }
      </optgroup>
    }
  </select>
  @if(withStableOnly) {
    <input type="checkbox" id="stable-only" name="stable-only" value="true" @if(params.stableOnly) { checked }>
  }
</form>
