@import scaladex.core.model.Project
@import scaladex.core.model.Artifact
@import scaladex.core.model.Env
@import scaladex.core.model.UserState
@import scaladex.core.model.SemanticVersion
@import scaladex.view.html.main
@import scaladex.core.model.Platform
@import scala.collection.SortedSet

@(
  env: Env,
  user: Option[UserState],
  project: Project,
  versionCount: Long,
  lastVersion: SemanticVersion,
  artifact: Artifact,
  platforms: SortedSet[Platform]
)
@main(env, title = project.repository.value, user, extraMeta = project.twitterCard.toHeadMeta) {
  <main id="container-project">
    @headproject(env, user, project, versionCount, "Badges", lastVersion)
    <div class="container">
      <div class="content-project box project-badges">
        <section class="badge-section" id="latest">
          <h2>Latest version</h2>
          <img src="@artifact.latestBadgeUrl(env)" />
          <pre aria-label="Badge markdown" id="badge-markdown">[![@artifact.artifactName Scala version support](@artifact.latestBadgeUrl(env)](@artifact.fullHttpUrl(env))</pre>
          <button class="btn btn-primary pull-right" data-clipboard-target="badge-markdown">Copy Markdown</button>
        </section>
        @platforms.iterator.map { platform =>
          <section class="badge-section" id="@platform">
            <h2>@platform badge</h2>
            <img src="@artifact.badgeUrl(env, Some(platform))" />
            <pre aria-label="Badge markdown" id="badge-markdown">[![@artifact.artifactName Scala version support](@artifact.badgeUrl(env, Some(platform))](@artifact.fullHttpUrl(env))</pre>
            <button class="btn btn-primary pull-right" data-clipboard-target="badge-markdown">Copy Markdown</button>
          </section>
        }
      </div>
    </div>
  </main>
}
