@import scaladex.core.model.Project

@(project: Project)
<div class="box project-contributing-info">
  <h4>Contributing Info</h4>
  <hr>
  <div>
    @for(github <- project.githubInfo) {
      <h5>Open Issues:</h5>
      <ul>
        @for(issue <- github.openIssues.take(3)) {
          <a href="@issue.url.target" target="_blank">@issue</a>
        }
      </ul>
  
      <a href="https://github.com/@{project.reference}/issues"target="_blank">More Issues ...</a>
      <hr>
      @for(guide <- github.contributingGuide) { <a href="@guide.target" target="_blank">Contributing Guide</a> }
      @for(chatroom <- github.chatroom) { <a href="@chatroom.target" target="_blank">Chatroom</a> }
      @for(coc <- github.codeOfConduct) { <a href="@coc.target" target="_blank">Code of Conduct</a> }
    }
  </div>
</div>
