@import scaladex.core.model.Project
@import scaladex.core.model.Artifact

@(artifact: Artifact, project: Project)
@scaladocOpt = @{ artifact.scaladoc(project.settings.customScalaDoc) }
@documentationLinks= @{ artifact.documentationLinks(project.settings.documentationLinks) }

@if(scaladocOpt.nonEmpty || documentationLinks.nonEmpty) {
  <div class="documentation box">
    <h4>Documentation</h4>
    <ul>
      @for(scaladoc <- scaladocOpt){ 
        <li><a href="@scaladoc" rel="nofollow" target="_blank">Scaladoc</a></li>
      }
      @for(Project.DocumentationLink(label, url) <- documentationLinks){
        <li>
          <a href="@url" target="_blank" rel="nofollow">
            @if(label == ""){ @url } else { @label }
          </a>
        </li>
      }
    </ul>
  </div>
}
