@import scaladex.view.html.main
@import scaladex.core.model.Artifact
@import scaladex.core.model.MetaCategory
@import scaladex.core.model.Project
@import scaladex.core.model.UserState
@import scaladex.core.model.Url
@import scaladex.core.model.Env
@import scaladex.core.model.SemanticVersion
@import scaladex.view.model.ProjectHeader

@(env: Env, user: UserState, project: Project, header: Option[ProjectHeader], artifacts: Seq[Artifact])

@artifactNames = @{ artifacts.map(_.artifactName).distinct }
@main(env, title = s"Edit ${project.repository}", Some(user)) {
  <main id="container-project">
    @headproject(env, Some(user), project, header, "Settings")
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="edit-project box content-project">
            <a class="btn btn-default pull-right" href="/@project.organization/@project.repository">Cancel</a>
            <button type="submit" form="project-settings" class="btn btn-primary pull-right">Update</button>

            <h1>Project Settings</h1>
            <form action="/@project.organization/@project.repository/settings" method="POST" id="project-settings">
              <div class="form-group">
                <label for="category">Category</label>
                <p>This is used to compute the <a href="/awesome">Awesome Scala</a> page.</p>
                <select
                  id="category"
                  name="category"
                  data-live-search="true"
                  class="selectpicker"
                  data-style="btn-primary">
                @if(project.settings.category.isEmpty) {<option>Choose a category</option>}
                @for(meta <- MetaCategory.all) {
                  <optgroup label="@meta.title">
                    @for(category <- meta.categories) {
                      <option
                        value="@category.label" 
                        @if(project.settings.category.contains(category)){selected}>
                          @category.title
                      </option>
                    }
                  </optgroup>
                }
                </select>
              </div>

              <div class="form-group">
                <label for="chatroom">Chatroom</label>
                <input name="chatroom" value="@project.settings.chatroom.getOrElse("")"
                  class="form-control list-group-item"
                  placeholder="https://gitter.im/@project.reference">
              </div>
              <div class="form-group">
                <label for="contributorsWanted">Contributors Wanted</label>
                <br/>
                <input type="checkbox" name="contributorsWanted" id="contributorsWanted" @if(project.settings.contributorsWanted){ checked }> 
              </div>

              <fieldset>
                <legend>Artifact Settings</legend>
                <div class="form-group">
                  <label for="defaultArtifact">Default Artifact</label>
                  <p>
                    When a project has lots of artifacts you can hint the index on what artifact to choose in the drop down.
                  See <a target="_blank" href="https://github.com/scalacenter/scaladex/blob/main/core/shared/src/main/scala/scaladex/core/model/ArtifactSelection.scala">
                    ArtifactSelection.scala
                  </a> for more details.
                  </p>
                  <select
                    id="defaultArtifact"
                    name="defaultArtifact"
                    data-live-search="true"
                    class="selectpicker" data-style="btn-primary">
                  @for(artifact <- artifactNames){
                    <option 
                      value="@artifact"
                      @if(project.settings.defaultArtifact.contains(artifact)){ selected }>
                      @artifact
                    </option>
                  }
                  </select>
                </div>

                <div class="form-group">
                  <label for="preferStableVersion">Stable version filter</label>
                  <p>If enabled, Scaladex filters pre-release versions out to compute the latest version.</p>
                  <input type="checkbox" name="preferStableVersion" id="preferStableVersion" @if(project.settings.preferStableVersion){ checked }>
                </div>
                <div class="form-group">
                  <label for="deprecatedArtifacts">Deprecated Artifacts</label>
                  <select
                    name="deprecatedArtifacts"
                    class="js-keywords-multiple js-states form-control"
                    id="deprecatedArtifacts"
                    multiple="multiple">
                    @for(artifact <- artifactNames) {
                      <option
                        value="@artifact" 
                        @if(project.settings.deprecatedArtifacts.contains(artifact)){selected}>
                          @artifact
                      </option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <label for="cliArtifacts">Command Line Artifacts</label>
                  <select
                    name="cliArtifacts"
                    class="js-keywords-multiple js-states form-control"
                    id="cliArtifacts"
                    multiple="multiple">
                  @for(artifact <- artifactNames) {
                    <option
                      value="@artifact" 
                      @if(project.settings.cliArtifacts.contains(artifact)){selected}>
                        @artifact
                    </option>
                  }
                  </select>
                </div>
              </fieldset>

              <fieldset>
                <legend>Documentation</legend>
                <pre>
[groupId]    org.example
[artifactId] foo_2.11
[version]    1.2.3
[major]      1
[minor]      2
[name]       foo
                </pre>
                
                <div class="form-group">
                  <label for="customScalaDoc">Custom Scaladoc Link</label>
                  <input
                    name="customScalaDoc" 
                    value="@project.settings.customScalaDoc.getOrElse("")"
                    placeholder="https://www.javadoc.io/doc/[groupId]/[artifactId]/[version]"
                    type="text" 
                    class="form-control" id="customScalaDoc">
                </div>

                <fieldset class="documentation-link">
                  <label>Documentation links</label>
                  <ul>
                  @for((doc, i) <- project.settings.documentationLinks.zipWithIndex){
                    <li class="list-group">
                      <input
                        name="documentationLinks[@i].label" value="@doc.label"
                        placeholder="User Guide"
                        class="form-control list-group-item">
                      <input 
                        name="documentationLinks[@i].url"
                        value="@doc.pattern"
                        placeholder="http://example.org/guide/[major].x"
                        class="form-control list-group-item">
                    </li>
                  }
                  @for(i <- (0 to 1).map(_ + project.settings.documentationLinks.size)) {
                    <li class="list-group">
                      <input
                        name="documentationLinks[@i].label" value=""
                        placeholder="User Guide"
                        class="form-control list-group-item">
                      <input 
                        name="documentationLinks[@i].url"
                        value=""
                        placeholder="http://example.org/guide/[major].x"
                        class="form-control list-group-item">
                    </li>
                  }
                  </ul>
                </fieldset>
              </fieldset>

            </form>
            <button type="submit" form="project-settings" class="btn btn-primary">Update</button>
            <a class="btn btn-default" href="/@project.organization/@project.repository">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </main>
}
