@import scaladex.view.html.main
@import scaladex.core.model.Artifact
@import scaladex.core.model.MetaCategory
@import scaladex.core.model.Project
@import scaladex.core.model.ProjectHeader
@import scaladex.core.model.UserState
@import scaladex.core.model.Url
@import scaladex.core.model.Env
@import scaladex.core.model.Version
@import scaladex.view.ProjectTab


@(env: Env, user: UserState, project: Project, header: Option[ProjectHeader], artifactNames: Seq[Artifact.Name])

@main(env, title = s"Edit ${project.repository}", Some(user)) {
  <main id="container-project">
    @headproject(env, Some(user), project, header, ProjectTab.Settings)
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="edit-project box content-project">
            <h1>Project Settings</h1>
            <form action="/@project.organization/@project.repository/settings" method="POST" id="project-settings">
              <section class="settings-section">
                <h2>General</h2>
                <div class="form-group">
                  <label for="category">Category</label>
                  <p class="help">This is used to compute the <a href="/awesome">Awesome Scala</a> page.</p>
                  <select
                    id="category"
                    name="category"
                    data-live-search="true"
                    class="selectpicker"
                    data-style="btn-secondary">
                  @if(project.settings.category.isEmpty) {<option>Choose a category</option>}
                  @for(meta <- MetaCategory.all) {
                    <optgroup label="@meta.title">
                      @for(category <- meta.categories) {
                        <option
                          value="@category.label"
                          @if(project.settings.category.contains(category)){selected}>
                            @category.title
                        </option>
                      }
                    </optgroup>
                  }
                  </select>
                </div>

                <div class="form-group">
                  <label for="chatroom">Chatroom</label>
                  <input name="chatroom" value="@project.settings.chatroom.getOrElse("")"
                    class="form-control"
                    placeholder="https://gitter.im/@project.reference">
                </div>

                <div class="form-group form-group-toggle">
                  <div class="form-group-toggle-text">
                    <label for="contributorsWanted">Contributors Wanted</label>
                    <p class="help">Shows a badge on the project page inviting contributors.</p>
                  </div>
                  <input type="checkbox" id="contributorsWanted" name="contributorsWanted" @if(project.settings.contributorsWanted){ checked }>
                </div>
              </section>

              <section class="settings-section">
                <h2>Artifacts</h2>
                <div class="form-group">
                  <label for="defaultArtifact">Default Artifact</label>
                  <p class="help">
                    When a project has lots of artifacts you can hint the index on what artifact to choose in the drop down.
                    See <a target="_blank" href="https://github.com/scalacenter/scaladex/blob/main/core/shared/src/main/scala/scaladex/core/model/ArtifactSelection.scala">ArtifactSelection.scala</a> for more details.
                  </p>
                  <select
                    id="defaultArtifact"
                    name="defaultArtifact"
                    data-live-search="true"
                    class="selectpicker" data-style="btn-secondary">
                  @for(artifact <- artifactNames){
                    <option
                      value="@artifact"
                      @if(project.settings.defaultArtifact.contains(artifact)){ selected }>
                      @artifact
                    </option>
                  }
                  </select>
                </div>

                <div class="form-group form-group-toggle">
                  <div class="form-group-toggle-text">
                    <label for="preferStableVersion">Stable version filter</label>
                    <p class="help">If enabled, Scaladex filters pre-release versions out to compute the latest version.</p>
                  </div>
                  <input type="checkbox" id="preferStableVersion" name="preferStableVersion" @if(project.settings.preferStableVersion){ checked }>
                </div>

                <div class="form-group">
                  <label for="deprecatedArtifacts">Deprecated Artifacts</label>
                  <select
                    name="deprecatedArtifacts"
                    class="selectpicker"
                    data-style="btn-secondary"
                    id="deprecatedArtifacts"
                    multiple="multiple">
                    @for(artifact <- artifactNames) {
                      <option
                        value="@artifact"
                        @if(project.settings.deprecatedArtifacts.contains(artifact)){selected}>
                          @artifact
                      </option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <label for="cliArtifacts">Command Line Artifacts</label>
                  <select
                    name="cliArtifacts"
                    class="selectpicker"
                    data-style="btn-secondary"
                    id="cliArtifacts"
                    multiple="multiple">
                  @for(artifact <- artifactNames) {
                    <option
                      value="@artifact"
                      @if(project.settings.cliArtifacts.contains(artifact)){selected}>
                        @artifact
                    </option>
                  }
                  </select>
                </div>
              </section>

              <section class="settings-section">
                <h2>Documentation</h2>
                <div class="form-group">
                  <label for="customScalaDoc">Custom Scaladoc Link</label>
                  <p class="help">
                    Use the placeholders below, filled in per-release: <code>[groupId]</code> org.example,
                    <code>[artifactId]</code> foo_2.11, <code>[version]</code> 1.2.3, <code>[major]</code> 1,
                    <code>[minor]</code> 2, <code>[name]</code> foo.
                  </p>
                  <input
                    name="customScalaDoc"
                    value="@project.settings.customScalaDoc.getOrElse("")"
                    placeholder="https://www.javadoc.io/doc/[groupId]/[artifactId]/[version]"
                    type="text"
                    class="form-control" id="customScalaDoc">
                </div>

                <div class="form-group">
                  <label>Documentation links</label>
                  <ul class="documentation-links">
                  @for((doc, i) <- project.settings.documentationLinks.zipWithIndex){
                    <li>
                      <input
                        name="documentationLinks[@i].label" value="@doc.label"
                        placeholder="User Guide"
                        class="form-control">
                      <input
                        name="documentationLinks[@i].url"
                        value="@doc.pattern"
                        placeholder="http://example.org/guide/[major].x"
                        class="form-control">
                    </li>
                  }
                  @for(i <- (0 to 1).map(_ + project.settings.documentationLinks.size)) {
                    <li>
                      <input
                        name="documentationLinks[@i].label" value=""
                        placeholder="User Guide"
                        class="form-control">
                      <input
                        name="documentationLinks[@i].url"
                        value=""
                        placeholder="http://example.org/guide/[major].x"
                        class="form-control">
                    </li>
                  }
                  </ul>
                </div>
              </section>

              <div class="settings-actions">
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-default" href="/@project.organization/@project.repository">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
}
