@import scaladex.core.model.Project
@import scaladex.core.model.UserState
@import scaladex.core.model.Env
@import scaladex.view.Formats._
@import scaladex.view.html.ensureUri
@import scaladex.view.model.ProjectHeader

@(env: Env, user: Option[UserState], project: Project, header: Option[ProjectHeader], activeTab: String)

@canEdit = @{user.exists(_.canEdit(project.reference, env))}
@isActive(nameTab: String) = @{if(nameTab == activeTab) "active" else ""}
<div class="head-project">
  <div class="container">
    <div class="info-project">
      <div>
        <h1>
          <a href="/@project.organization">@project.organization</a> /
          <a href="/@project.reference">@project.repository</a>
          @for(header <- header) {
            <span class="head-last-version">&nbsp;&nbsp;@header.defaultVersion.encode</span>
          } 
        </h1>

        @if(project.settings.contributorsWanted) {
          <a class="contributors-tag" href="/search?q=contributorsWanted:true">
            <img src="/assets/img/contributors_tag.png" alt="Contributors Wanted">
          </a>
        }
        @for(license <- project.githubInfo.flatMap(_.license)) {
          @license.url.map { url =>
            <a href="@ensureUri(url)" class="btn btn-link" target="_blank" rel="nofollow">
              <i class="fa-solid fa-award" aria-hidden="true"></i> @license.name
            </a>
          }
        }
        @for(homepage <- project.githubInfo.flatMap(_.homepage)) {
          @if(homepage.target.nonEmpty) {
            <a href="@ensureUri(homepage.target)" class="btn btn-link" target="_blank" rel="nofollow">
              <i class="fa-solid fa-earth-africa" aria-hidden="true"></i> Website
            </a>
          }
        }
        <a href="https://github.com/@project.reference" class="btn btn-link" target="_blank"><i class="fa-brands fa-github"></i>
          GitHub</a>
      </div>
      @for(github <- project.githubInfo) {
        @for(description <- github.description) {
          @if(description.nonEmpty) {
            <p class="description emojify">@description</p>
          }
        }
        <ul class="list-inline">
        @for(topic <- github.topics) {
          <li><a href="/search?topics=@topic" class="label label-default">@topic</a></li>
        }
        </ul>
      }
      @for(header <- header) {
        <div class="project-versions">
          @if(header.scalaVersions.nonEmpty){
            <div>
              Scala versions:
              @for(scalaVersion <- header.scalaVersions.sorted.reverse) {
                <a href="@header.artifactsUrl(scalaVersion)" class="targets">@scalaVersion.version</a>
              }
            </div>
          }
    
          @if(header.scalaJsVersions.nonEmpty){
            <div>
              Scala.js versions:
              @for(platform <- header.scalaJsVersions.sorted.reverse) {
                <a href="@header.artifactsUrl(platform)" class="targets">@platform.version</a>
              }
            </div>
          }
    
          @if(header.scalaNativeVersions.nonEmpty){
            <div>
              Scala Native versions:
              @for(platform <- header.scalaNativeVersions.sorted.reverse) {
                <a href="@header.artifactsUrl(platform)" class="targets">@platform.version</a>
              }
            </div>
          }
    
          @if(header.sbtVersions.nonEmpty){
            <div>
              sbt plugins:
              @for(platform <- header.sbtVersions.sorted.reverse) {
                <a href="@header.artifactsUrl(platform)" class="targets">@platform.version</a>
              }
            </div>
          }
    
          @if(header.millVersions.nonEmpty){
            <div>
              Mill plugins:
              @for(platform <- header.millVersions.sorted.reverse) {
                <a href="@header.artifactsUrl(platform)" class="targets">@platform.version</a>
              }
            </div>
          }
        </div>
      }
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-nav-bar">
          <ul class="nav nav-tabs">
            <li role="project" class="@isActive("Project")"><a href="/@project.reference">Project</a></li>
            @for(header <- header) {
              <li role="artifacts" class="@isActive("Artifacts")"><a href="@header.artifactsUrl">@plural(header.versionCount, "Version")</a></li>
              <!-- <li role="version-matrix" class="@isActive("Version Matrix")"><a href="/@project.reference/version-matrix">Version Matrix</a></li> -->
              <li role="badges" class="@isActive("Badges")"><a href="/@project.reference/badges">Badges</a></li>
            }
            @if(canEdit) {
              <li role="settings" class="@isActive("Settings")">
                <a data-toggle="tooltip" data-placement="bottom" title="edit project's settings" href="/@project.reference/settings">
                  <i class="fa-solid fa-gear"></i>
                  Settings
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
