@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.view.html._
@import scaladex.core.web.ArtifactsPageParams
@import scaladex.core.model.Language
@import scaladex.core.model.Platform
@import scala.collection.SortedMap
@import scaladex.core.util.ScalaExtensions._
@import scaladex.core.util.TimeUtils
@import scaladex.view.Formats

@import java.time.Instant

@(env: Env, user: Option[UserState], project: Project, header: ProjectHeader)

@main(env, title = s"${project.repository} Artifacts", user) {
  <main id="container-project">
    @headproject(env, user, project, Some(header), "Artifacts")
    <div class="container">
      <div class="content-project artifacts box">
        <h2>Artifacts for Project @project.reference.repository</h2>
        <p>This is demo Intermediate artifacts page</p>
      </div>
    </div>
  </main>
}
