@import scaladex.core.model.Project
@import scaladex.core.model.Artifact
@import scaladex.core.model.Env
@import scaladex.core.model.UserState
@import scaladex.core.model.SemanticVersion
@import scaladex.view.html.main
@import scaladex.core.model.ArtifactDependency
@import scaladex.view.Formats

@(
  env: Env,
  user: Option[UserState],
  project: Project,
  versionCount: Long,
  lastVersion: SemanticVersion,
  artifact: Artifact,
  directDependencies: Map[Project.Reference, (ArtifactDependency.Scope, Seq[SemanticVersion])],
  reverseDependency: Map[Project.Reference, (ArtifactDependency.Scope, SemanticVersion)],
)
@main(env, title = project.repository.value, user, extraMeta = project.twitterCard.toHeadMeta) {
  <main id="container-project">
    @headproject(env, user, project, versionCount, "Project", lastVersion)
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-project box project-main" id="README"
            data-organization="@project.reference.organization"
            data-repository="@project.reference.repository">

            @Html(project.githubInfo.flatMap(_.readme).getOrElse(""))
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-project">
            @if(project.settings.artifactDeprecations.contains(artifact.artifactName)) {
            <div class="box">
              <h1>[DEPRECATED]</h1>
            </div>
            }
            @project.githubInfo.map(gh => statistic(gh, project.reference, reverseDependency.size))
            @documentation(artifact, project)
            @scastie(artifact.scastieURL)
            @project.githubInfo.map { github =>
              @if(github.openIssues.nonEmpty && github.chatroom.isDefined && github.contributingGuide.isDefined) {
                @contributingInfo(project)
              }
            }
            @project.githubInfo.map(gh => contributors(project, gh.contributors))
            @license(artifact)
            @directDependenciesBox(directDependencies)
            @reverseDependenciesBox(reverseDependency)
          </div>
        </div>
      </div>
    </div>
  </main>
}

@directDependenciesBox(dependencies: Map[Project.Reference, (ArtifactDependency.Scope, Seq[SemanticVersion])]) = {
  <div class="dependencies box">
    <h4>@Formats.plural(dependencies.size, "Dependency")</h4>
    <ul>
      @for((ref, (scope, versions)) <- dependencies.toSeq.sortBy { case (ref, _) => ref }){
        <li>
          <a href="/@ref">@ref @scopeSpan(scope)</a> @versions.mkString(", ")
        </li>
      }
    </ul>
  </div>
}

@reverseDependenciesBox(dependencies: Map[Project.Reference, (ArtifactDependency.Scope, SemanticVersion)]) = {
  <div class="dependencies box">
    <h4>@Formats.plural(dependencies.size, "Dependent")</h4>
    <ul>
      @for((ref, (scope, version)) <- dependencies.take(100).toSeq.sortBy { case (ref, _) => ref }){
        <li>
          <a href="/@ref">@ref @scopeSpan(scope)</a> (on @version)
        </li>
      }
      @if(dependencies.size > 100) {
        <p>and @{dependencies.size - 100} more</p>
      }
    </ul>
  </div>
}

@scopeSpan(scope: ArtifactDependency.Scope) = {
  @if(scope.value != "compile") { <span class="label label-primary">@scope</span> }
}
