@import scaladex.view.html.contributingInfo
@import scaladex.core.model.Project
@import scaladex.core.model.Artifact
@import akka.http.scaladsl.model.headers.LinkParams.title
@import scaladex.core.model.Env
@import scaladex.core.model.UserState
@import scaladex.core.model.SemanticVersion
@import scaladex.core.model.BinaryVersion
@import scaladex.core.model.TwitterSummaryCard
@import scaladex.core.model.ArtifactDependency
@import scaladex.view.html.main
@import scaladex.core.model.Platform

@import scala.collection.SortedSet
@(
  env: Env, project: Project, artifacts: SortedSet[Artifact.Name], versions: SortedSet[SemanticVersion],
  binaryVersions: SortedSet[BinaryVersion], platforms: SortedSet[Platform], artifact: Artifact, user: Option[UserState],
  showEditButton: Boolean, twitterCard: Option[TwitterSummaryCard], artifactCount: Int,
  directDependencies: Seq[ArtifactDependency.Direct], reverseDependency: Seq[ArtifactDependency.Reverse]
)

@main(env, title = project.repository.value, user,
      extraMeta = twitterCard.map(_.toHeadMeta).getOrElse(Nil)) {
  <main id="container-project">
    @headproject(project, artifacts, versions, binaryVersions, artifact, showEditButton)
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-project box" id="README" 
            data-organization="@project.reference.organization"
            data-repository="@project.reference.repository">

            @Html(project.githubInfo.flatMap(_.readme).getOrElse(""))
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-project">
            @if(project.settings.artifactDeprecations.contains(artifact.artifactName)) {
            <div class="box">
              <h1>[DEPRECATED]</h1>
            </div>
            }
            @documentation(artifact, project)
            @badges(artifact, platforms, env)
            @install(artifact, project.settings.cliArtifacts)
            @scastie(artifact.scastieURL)
            @project.githubInfo.map(gh => statistic(gh, project.reference, artifactCount, reverseDependency.size))
            @project.githubInfo.map { github =>
              @if(github.openIssues.nonEmpty && github.chatroom.isDefined && github.contributingGuide.isDefined) {
                  <div class="box project-contributing-info">
                    <h4>Contributing Info</h4>
                    <p>Beginner-friendly Issues:</p>
                    <div>
                      @contributingInfo(project)
                    </div>
                  </div>
              }
            }
            @project.githubInfo.map(gh => contributors(gh.contributors))
            @license(artifact)
            @dependencies(project.reference, directDependencies)
            @dependents(artifact, reverseDependency)
          </div>
        </div>
      </div>
    </div>
  </main>
}
