@import scaladex.core.model.Project
@import scaladex.core.model.Env
@import scaladex.core.model.UserState
@import scaladex.core.model.SemanticVersion
@import scaladex.core.model.GithubContributor
@import scaladex.core.model.GithubInfo
@import scaladex.core.model.ArtifactDependency
@import scaladex.view.Formats
@import scaladex.view.html.main
@import scaladex.view.model.ProjectHeader

@(
  env: Env,
  user: Option[UserState],
  project: Project,
  header: Option[ProjectHeader],
  directDependencies: Map[Project.Reference, (ArtifactDependency.Scope, Seq[SemanticVersion])],
  reverseDependency: Map[Project.Reference, (ArtifactDependency.Scope, SemanticVersion)],
)
@main(env, title = project.repository.value, user, extraMeta = project.twitterCard.toHeadMeta, extraMetaProperty = project.ogp.toHeadMetaProperty) {
  <main id="container-project">
    @headproject(env, user, project, header, "Project")
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-project box project-main" id="README"
            data-organization="@project.reference.organization"
            data-repository="@project.reference.repository">

            @Html(project.githubInfo.flatMap(_.readme).getOrElse(""))
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-project">
            @communityBox
            @project.githubInfo.map(gh => statisticsBox(gh, project.reference, reverseDependency.size))
            @commitActivityBox
            @directDependenciesBox(directDependencies)
            @reverseDependenciesBox(reverseDependency)
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function () {
            ScaladexClient.createSparkline();
          })
  </script>
}

@statisticsBox(github: GithubInfo, ref: Project.Reference, dependentsCount: Int) = {
  <div class="statistic box">
    <h4>Statistics</h4>
    <div class="row">
      <div >
        <ul class="row">
          <a href="https://github.com/@ref/watchers"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-eye"></i> @github.watchers watchers</li></a>
          <a href="https://github.com/@ref/graphs/contributors"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-users"></i> @github.contributors.size Contributors</li></a>
          <a href="https://github.com/@ref/stargazers"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-star"></i> @github.stars Stars</li></a>
          <a href="https://github.com/@ref/network"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-code-branch"></i> @github.forks Forks</li></a>
          <a href="https://github.com/@ref/commits"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-clock-rotate-left"></i> @github.commits Commits</li></a>
          <a href="https://github.com/@ref/issues"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-circle-exclamation"></i> @github.issues Open issues</li></a>
          <a href="#dependents"><li class="col-md-6 col-sm-6"><i class="fa-solid fa-sitemap"></i> @dependentsCount Dependents</li></a>
        </ul>
      </div>
    </div>
  </div>
}

@commitActivities = @{project.githubInfo.map(_.commitActivity).getOrElse(Seq.empty).sortBy(_.week)}
@startingDay = @{commitActivities.headOption.map(_.week.getEpochSecond)}
@commitActivityBox = {
  @if(commitActivities.nonEmpty){
    <div class="box commit-activities">
      <h4>Commit Activity</h4>
      <div class="commit-activity-container"><canvas id="commit-activity" data-commit-activity-count=@{commitActivities.map(_.total).mkString(",")} data-commit-activity-starting-day=@{startingDay} /></div>
    </div>
  }
}

@communityBox = {
  @if(project.communityLinks.nonEmpty) {
    <div class="box">
      <h4>Community</h4>
      <ul>
        @for(link <- project.communityLinks) { <li><a href="@link.link">@link.label</a></li> }
      </ul>
    </div>
  }
}

@contributorsLimit = @{21}
@contributorsBox(contributors: Seq[GithubContributor]) = {
  @if(contributors.nonEmpty) {
    <div class="contributors box">
      <h4>Contributors</h4>
      <ul>
      @for(contributor <- contributors.take(contributorsLimit)) {
        <li>
          <a href="@contributor.url.target" target="_blank" rel="noreferrer">
            <img data-toggle="tooltip" data-placement="bottom" width="32" title="@contributor.login" src="@contributor.sizedAvatarUrl(32)" alt="">
          </a>
        </li>
      }
      </ul>
      @if(contributorsLimit < contributors.size) {
        <div class="more-contributors">There are another <a href="@project.githubLink/graphs/contributors" target="_blank">@{contributors.size - contributorsLimit} contributors</a></div>
      }
    </div>
  }
}

@directDependenciesBox(dependencies: Map[Project.Reference, (ArtifactDependency.Scope, Seq[SemanticVersion])]) = {
  <div class="dependencies box">
    <h4>@Formats.plural(dependencies.size, "Dependency")</h4>
    <ul>
      @for((ref, (scope, versions)) <- dependencies.toSeq.sortBy { case (ref, _) => ref }){
        <li>
          <div class="row">
            <div class="col-xs-8"><a href="/@ref">@ref</a> @scopeSpan(scope)</div>
            <div class="col-xs-4">@versions.mkString(", ")</div>
          </div>
        </li>
      }
    </ul>
  </div>
}

@reverseDependenciesBox(dependencies: Map[Project.Reference, (ArtifactDependency.Scope, SemanticVersion)]) = {
  <section class="dependencies box" id="dependents">
    <h4>@Formats.plural(dependencies.size, "Dependent")</h4>
    <ul>
      @for((ref, (scope, version)) <- dependencies.take(100).toSeq.sortBy { case (ref, _) => ref }){
        <li>
          <div class="row">
            <div class="col-xs-8"><a href="/@ref">@ref</a> @scopeSpan(scope)</div>
            <div class="col-xs-4">on @version</div>
          </div>
        </li>
      }
      @if(dependencies.size > 100) {
        <p>and @{dependencies.size - 100} more</p>
      }
    </ul>
  </section>
}

@scopeSpan(scope: ArtifactDependency.Scope) = {
  @if(scope.value != "compile") { <span class="label label-default">@scope</span> }
}
