@import scaladex.view.Formats
@import scaladex.core.model.ReleaseDependency
@import scaladex.core.model.SemanticVersion
@import scaladex.core.model.Project
@import scaladex.core.model.ArtifactDependency.Scope


@(allDependencies: Map[(Project.Reference, Scope), Seq[ReleaseDependency.Result]], title: String, projectVersion: SemanticVersion)
<div class="dependencies box">
  <h4> @Formats.plural(allDependencies.size, title) for @projectVersion.encode</h4>
  @dependencyBlock(allDependencies)
</div>

@* reusable code block for dependency listing *@
@dependencyBlock(dependencies: Map[(Project.Reference, Scope), Seq[ReleaseDependency.Result]]) = {
  <ul>
  @for(((ref, scope), deps) <- dependencies){
    <li>
      <a href="#" target="_blank">
        @ref
        <span class="label label-primary">@scope</span>
      </a> @deps.map(dep => s"v${dep.version.encode}").mkString(", ")
    </li>
  }
  </ul>
}
