@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.view.ProjectTab

@(
        env: Env,
        user: Option[UserState],
        project: Project,
        header: Option[ProjectHeader],
        binaryVersionsByPlatforms: Seq[(Platform, Seq[BinaryVersion])],
        artifactsByVersions: Seq[(SemanticVersion, Seq[(Artifact.Name, Seq[BinaryVersion])])]
)
@allBinaryVersions = @{
  binaryVersionsByPlatforms.flatMap(_._2)
}
@main(env, title = project.repository.toString, user, showSearch = true) {
  <main id="container-project">
    @headproject(env, user, project, header, ProjectTab.VersionMatrix)
    <div class="container">
      <div class="content-project version-matrix box" data-organization="@project.reference.organization"
      data-repository="@project.reference.repository">
        <table>
          <thead>
            <tr>
              <th rowspan="2" class="version">Versions</th>
              <th rowspan="2" class="artifact">Artifacts</th>

              @binaryVersionsByPlatforms.map { case (platform, binaryVersions) =>
              <th colspan="@{
                binaryVersions.size
              }">
                <label>
                  <input type="checkbox" name="platform" value="@platform.value"
                  onclick="ScaladexClient.updateVisibleArtifactsInGrid()">
                  @platform
              </label>
              </th>
              }
            </tr>
            <tr>
            @allBinaryVersions.map { binaryVersion =>
              <th class="binaryVersion">
                <label>
                  <input type="checkbox" name="binary-version" value="@binaryVersion.value"
                  onclick="ScaladexClient.updateVisibleArtifactsInGrid()">
                  @binaryVersion.language.label
                </label>
              </th>
            }
            </tr>
          </thead>

          @artifactsByVersions.map { case (version, artifactsByNames) =>
          <tbody class="version-line version-line-visible">
            <tr>
              <td rowspan="@{
                artifactsByNames.size + 1
              }" class="version">
              @version
              </td>
            </tr>
            @artifactsByNames.map { case (artifactName, binaryVersions) =>
              <tr class="artifact-line artifact-line-visible @{
                (binaryVersions.map(_.platform.value) ++ binaryVersions.map(_.value)).mkString(" ")
              }">
                <td class="artifact">@artifactName</td>
                @allBinaryVersions.map { binaryVersion =>
                  <td class="binary-version" title="@version">
                  @if(binaryVersions.contains(binaryVersion)) {
                    <a href="/@project.reference/@artifactName/@version.value?binary-version=@binaryVersion.value" class="supported"></a>
                  }
                  </td>
                }
              </tr>
            }
          </tbody>
          }
        </table>
      </div>
    </div>
  </main>

  <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function () {
            ScaladexClient.updateVisibleArtifactsInGrid();
          })
  </script>
}
