@import scaladex.core.model._
@import scaladex.view.html.main
@import scaladex.view.html._
@import scaladex.core.web.ArtifactsPageParams
@import scaladex.core.model.Language
@import scaladex.core.model.Platform
@import scala.collection.SortedMap
@import scaladex.core.util.ScalaExtensions._
@import scaladex.core.util.TimeUtils
@import scaladex.view.Formats
@import scaladex.view.ProjectTab

@import java.time.Instant
@(
    env: Env,
    user: Option[UserState],
    project: Project,
    header: ProjectHeader,
    artifactName: Artifact.Name,
    allBinaryVersions: Seq[BinaryVersion],
    artifactByVersions: SortedMap[(Instant, SemanticVersion), Seq[Artifact]],
    params: ArtifactsPageParams
)

@main(env, title = project.repository.toString, user) {
  <main id="container-project">
    @headproject(env, user, project, Some(header), ProjectTab.Versions)
    <div class="container">
      <div class="content-project versions box" data-organization="@project.reference.organization"
      data-repository="@project.reference.repository">
        @artifactsFilters(project.reference, params, allBinaryVersions)
        <h2>
          @artifactName
          <select class="selectpicker" title="Other Artifacts"
            data-style="btn-default" data-selected-text-format="static" 
            onchange="window.location=this.value">
            @for(name <- header.allArtifactNames) {
              <option value="@versionsUri(project.reference, name, params)" @if(name == artifactName) {selected}>
                @name
              </option>
            }
          </select>
        </h2>
        <div class="result-count">
          Found <b>@artifactByVersions.size</b> @Formats.wordPlural(artifactByVersions.size, "version")
        </div>
        @if(artifactByVersions.isEmpty) {
          <div>We can't find any version that matches all criteria</div>
        } else {
        <div>
          @artifactByVersions.map { case ((releaseDate, version), artifacts) =>
          <div class="panel">
            <div class="artifact-row panel-body center">
              <div class="col-md-3 center">
                <a class="artifact-version" href="/@project.reference/artifacts/@artifactName/@version">@version</a>
              </div>
              <div class="col-md-9">
                <div class="artifact-info">
                  <a data-toggle="tooltip" data-placement="top" title="@formatInstant(releaseDate)">
                    @TimeUtils.toFiniteDuration(releaseDate, Instant.now()).prettyPrint
                    ago<i class="fa-solid fa-calendar-days"></i>
                  </a>
                  <br>
                  @artifacts.head.licenses.map { license =>
                    <a href="@license.url.getOrElse("#")">@license.shortName<i class="fa-solid fa-scale-balanced"></i></a>
                  }
                </div>
                <div class="artifact-content">
                  @for(
                    (platform, binaryVersions) <- artifacts
                      .map(_.binaryVersion)
                      .distinct
                      .sorted
                      .reverse
                      .groupBy(_.platform)
                      .toSeq
                  ) {
                    <h5>@platform:</h5>
                    @for(binaryVersion <- binaryVersions) { 
                      <a href="/@project.reference/artifacts/@artifactName/@version?binary-version=@binaryVersion.encode" class="scala-version">
                        @binaryVersion.language.label
                      </a>
                    }
                    <br>
                  }
                </div>
              </div>
            </div>
          </div>
          }
        }
        </div>
      </div>
    </div>
  </main>
}
