// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
// Result page
// -----------------------------------------------------------------------------
// Project page
// -----------------------------------------------------------------------------
#bottom {
    padding: 40px 0;
    background: $gray-darker;
    ul {
        padding: 0;
        margin: 0;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
            h5 {
                font-family: $font-family-sans-serif;
                color: #fff;
            }
            a {
                color: rgba(255, 255, 255, 0.3);
                &:hover,
                &:focus {
                    color: rgba(255, 255, 255, 0.7);
                    text-decoration: none;
                }
            }
        }
    }
    ul.social {
        text-align: left;
        @media screen and (min-width: $screen-md-min) {
            text-align: right;
        }
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}