<div class="how-to">
  <a class="btn btn-default" href="#how-to-popup">How to contribute</a>
  <div id="how-to-popup" class="overlay">
    <div class="popup">
      <h2>How to contribute to <span class="awesome">Awesome Scala</span></h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <p>
          As a library author, you can help Scaladex users find you library by tagging your project with one of the proposed categories.
        </p>
        <p>
          To do so, log in with your Github credentials, go to your project page and click the <span class="badge">Edit</span> button.
        </p>
      </div>
    </div>
  </div>
</div>
