@import scaladex.core.model.search.Sorting
@import scaladex.core.model.Category
@import scaladex.core.model.search.AwesomeParams

@(
  category: Category,
  params: AwesomeParams
)
<div class="order-by">
  <form action="/awesome/@category.label" action="GET">
    @for(language <- params.languages){
      <input type="hidden" name="languages" value="@language.label">
    }

    @for(platform <- params.platforms){
      <input type="hidden" name="platforms" value="@platform.label">
    }

    <div class="btn-group" role="group" aria-label="sorting">
      @for(sorting <- Sorting.all) {
        <button name="sort" value="@sorting.label" type="submit" 
          class="btn btn-default @if(params.sorting == sorting) { active }">
          @sorting.title
        </button>
      }
    </div>
  </form>
</div>
