// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
.autocomplete {
    //display: none;
    width: 100%;
    background: #fff;
    top: 42px;
    left: 0;
    position: absolute;
    z-index: 9999;
    @include box-shadow(0 2px 20px rgba(0, 0, 0, 0.2));
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 15px;
            list-style: none;
            border-bottom: 1px solid rgba($gray-darker, 0.1);
            &:last-child {
                border-bottom: none;
            }
            a {
                color: $gray;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
                p {
                    color: $gray-dark;
                    margin: 0;
                    font-weight: 400;
                    font-family: $font-family-serif;
                }
            }
            &:hover, &.selected {
                background: $gray-lighter;
                cursor: default;
            }
        }
    }
}

// Result page
// -----------------------------------------------------------------------------
// Project page
// -----------------------------------------------------------------------------
#top {
    nav {
        background: $gray-darker;
        padding: 30px 0;
        .btn {
            i {
                margin-right: 8px;
            }
            display: block;
            width: 100%;
            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
                width: auto;
            }
        }
        .has-feedback {}
        .you {
            img {
                padding-right: 5px;
                height: 38px;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            margin-right: 10px;
            padding: 0 10px 0 0;
        }
    }
}
