@import scaladex.view.SchedulerStatus
@import scaladex.view.html._
@import scaladex.core.model.UserState
@import scaladex.core.model.Env
@import scala.concurrent.duration.FiniteDuration
@import java.time.Instant
@import scaladex.core.util.ScalaExtensions._

@import scaladex.view.AdminTaskStatus

@(env: Env, user: UserState, schedulers: Seq[SchedulerStatus], adminTaskStatus: Seq[AdminTaskStatus])
@main(env, title = "Admin page", Some(user)) {
    <main id="admin-content">
        <div class="container">
            <h2>Scheduler Status</h2>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Last run at</th>
                            <th scope="col">Duration of Last run</th>
                            <th scope="col">Progress</th>
                            <th scope="col" style="text-align: right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @schedulers.map { scheduler =>
                        <tr>
                            <th scope="row">@scheduler.name</th>
                            <td>@scheduler.status<br/>
                                at @formatInstant(scheduler.when)</td>
                            <th scope="row">@scheduler.frequency</th>
                            <td>@scheduler.lastRunAt.map(formatInstant).getOrElse("No run before")</td>
                            <td>@scheduler.durationOfLastRun.map(_.prettyPrint).getOrElse("No run before")</td>
                            <td>
                            @scheduler match {
                                case SchedulerStatus.Started(_, _, _, true, Some(triggeredWhen), durationOfLastRun: Option[FiniteDuration]) => {
                                    @progressbar(triggeredWhen, Instant.now(), durationOfLastRun)
                                }
                                case s: SchedulerStatus.Started => { Waiting }
                                case _ => { _ }
                            }
                            </td>
                            <td style="text-align: right">
                            @if(scheduler.isStarted()) {
                                <form action="/admin/@{scheduler.name}/stop" method="post">
                                    <button type="submit" class="btn btn-danger">Stop</button>
                                </form>

                            } else {
                                <form action="/admin/@{scheduler.name}/start" method="post">
                                    <button type="submit" class="btn btn-success">Start</button>
                                </form>
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <h2>Admin tasks</h2>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Admin task</th>
                            <th scope="col">Form</th>
                            <th scope="col" style="text-align: right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Index artifacts</th>
                            <form action="/admin/index" method="POST">
                                <td>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="group-id">GroupID</span>
                                                <input type="text" class="form-control" name="group-id" placeholder="Ex: ch.epfl.scala" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="group-id">Artifact Name (optional)</span>
                                                <input type="text" class="form-control" name="artifact-name" placeholder="Ex: scalafix-core">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>Admin tasks Status</h2>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Admin task Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">created by</th>
                            <th scope="col">Created</th>
                            <th scope="col">Started</th>
                            <th scope="col">Succeeded</th>
                            <th scope="col">Failed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @adminTaskStatus.map { task =>

                            <tr>
                                <th scope="row">@task.name</th>
                                <td>@task.status</td>
                                <td>@task.createdBy</td>
                                <td>@formatInstant(task.created)</td>
                                <td>@formatInstant(task.startedTime)</td>
                                <td>@formatInstant(task.succeededTime)</td>
                                <td>@task.failedTimeWithErrorMessage.map{ case (time, error) =>
                                    s"failed because $error at ${formatInstant(time)}"}.getOrElse("_")</td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </main>
}
