// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

// Sticky Footer
// -----------------------------------------------------------------------------
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

// Home page
// -----------------------------------------------------------------------------
#container-home {
    .content-search-home {
        background: url('../assets/img/head-project-background.png') no-repeat center top #0D343C;
        padding: 80px 0 100px 0;
        h1 {
            font-size: 42px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }
        .tag {
            padding: 0;
            margin-top: 10px;
            text-align: center;
            li {
                list-style: none;
                display: inline-block;
                a {
                    color: #fff;
                    text-decoration: underline;
                    padding: 0 5px;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }
        .has-feedback {

            width: 100%;
            .autocomplete {
                top: 64px;
                ul {
                    li {
                        a {
                            p {
                                font-size: ($font-size-base * 1.3);
                            }
                        }
                    }
                }
            }
            .form-control {
                font-size: 20px;
                min-height: 60px;
                padding-left: 60px;
            }
            .form-control-feedback {
                font-size: 20px;
                height: 60px;
                width: 60px;
                padding-top: 10px;
            }
        }
    }
    .recent-projects,
    .recent-releases,
    .contributors-wanted {
        padding: 40px 0 80px 0;
        h2 {
            margin-bottom: ($line-height-computed * 1.5);
        }
    }
    .recent-projects,
    .recent-releases {
        a {
            h4 {
                font-size: 16px;
            }
            p,
            span {
                color: $gray;
            }
            &:hover,
            &:focus {
                text-decoration: none;
                h4 {
                    color: $brand-primary;
                    text-decoration: underline;
                }
            }
        }
    }
    .recent-releases {
        .more-results {
            margin-top: 20px;
        }
        background: rgba($gray-dark, 0.07);
    }

    .recent-releases,
    .contributors-wanted {

        .list-result {

            .item-list {
                p {
                    margin-bottom: 16px;
                    margin-top: 12px;
                    margin-left: 44px;
                    text-align: left;
                }

                .stats {
                    margin-top: 0;
                }

                @media screen and (min-width: $screen-md-min) {

                    p {
                        margin: 0;
                        text-align: center;
                    }

                }
            }
        }
    }
    .content-project {
        &.box {
            padding: 10px;
        }
        height: 186px;
        margin-bottom: 30px;
        .content-project-header {
            & > img,
            & > h4 {
                display: inline-block;
                vertical-align: middle;
            }
            border-bottom: 1px solid rgba($gray-dark, 0.12);
            padding-bottom: 20px;
            margin-bottom: 20px;
            h4 {
                margin: 0;
                display: inline-block;
                padding-left: 15px;
                width: 90%;
            }
            img {
                width: 28px;
                height: auto;
                float: left;
            }
        }
        .content-project-body {}
        &:hover,
        &:focus {
            @include box-shadow(0 1px 15px rgba(0, 0, 0, 0.15));
        }
    }
}

// Result page
// -----------------------------------------------------------------------------
#container-search {
    background: $gray-lighter;
    padding: 30px 0 40px 0;
    @media screen and (min-width: $screen-md-min) {
        padding: 60px 0 80px 0;
    }
    .result-count,
    .filter-tag {
        margin: 0;
        padding: 10px 0 0 0;
    }
    .filter-tag {
        li {
            display: inline-block;
            margin-right: 10px;
            .active {
                color: $gray;
                text-decoration: none;
                cursor: default;
            }
        }
    }
    .order-by {
        margin-top: 20px;
        span {
            margin-right: 8px;
        }
        .btn-primary {
            @include button-variant($btn-primary-color,
                    rgba($gray-darker, 0.7),
                    $btn-primary-border);
        }
        .bootstrap-select {
            width: 100%;
        }
        .dropdown-menu {
            border: none;
        }
        @media screen and (min-width: $screen-md-min) {
            float: right;
            margin-top: 0;
        }
    }
}

.list-result {
    margin-top: 20px;
    .item-list {
        padding: 15px 0;
        margin: 0;
        border-bottom: 1px solid rgba($gray-dark, 0.12);
        h4,
        .description {
            padding-left: 16px;
            margin-bottom: 0;
            display: inline-block;
        }
        .homepage {
            display: inline-block;
        }
        h4 {
            margin-top: 0;
            a {
                color: $gray-darker;
            }
        }
        img {
            float: left;
            width: 28px;
            height: auto;
        }
        .stats {
            padding-left: 22px;
            margin-top: 12px;
            span {
                margin-left: 20px;
                a {
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .item-filter-tag {
                color: $gray-light;
                font-style: italic;
                font-weight: 300;
            }
            @media screen and (min-width: $screen-md-min) {
                text-align: right;
            }
        }
        a {
            color: $gray;
            &:hover,
            &:focus {
                color: $brand-primary;
            }
        }
    }
}

// Project page
// -----------------------------------------------------------------------------
#container-project {
    background: $gray-lighter;
    padding: 0 0 40px 0;
    .content-project,
    .sidebar-project {
        margin-top: 0;
    }
    @media screen and (min-width: $screen-md-min) {
        padding-top: 20;
        padding-bottom: 80px;
        .content-project {
            margin-bottom: 0;
        }
    }

    .content-project {
        .markdown-body {
            .anchor {
                display: inline-block;
                padding-right: 2px;
                margin-left: -18px;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                &:hover {
                    .octicon-link {
                        visibility: visible;
                    }
                }
                .octicon-link {
                    vertical-align: middle;
                    visibility: hidden;
                }
            }
        }
        margin-bottom: 0;
        margin-top: 20px;
        @media screen and (min-width: $screen-md-min) {
            margin-bottom: 30px;
            margin-top: -80px;
        }
        h3 {
            margin-top: ($line-height-computed / 1.7);
            margin-bottom: $line-height-computed;
        }
        p {
            margin: 0 0 $line-height-computed;
        }
    }
    .sidebar-project {
        margin-top: 20px;
        @media screen and (min-width: $screen-md-min) {
            margin-bottom: 30px;
            margin-top: -80px;
        }
        .box,
        .install {
            margin-bottom: 30px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
            }
        }
        h4 {
            margin-top: 0;
            margin-bottom: ($line-height-computed / 1.5);
        }
        .statistic {
            ul {
                li {
                    margin-bottom: 8px;
                    a {
                        color: $gray;
                        &:hover,
                        &:focus {
                            text-decoration: $link-hover-decoration;
                        }
                        i {
                            min-width: 25px;
                        }
                    }
                }
            }
        }
        .install {
            .nav-tabs > li:not(.active) > a {
                color: white;
            }
            .tab-pane {
                background: #fff;
                padding: 15px;
                textarea {
                    resize: none;
                    font-size: ($font-size-small - 2);
                    font-family: $font-family-monospace;
                    &:disabled {
                        background-color: transparent;
                    }


                }

                pre {
                    background: #fff;
                }
            }
        }
        .collaborators {
            ul {
                li {
                    margin: 0 6px 6px 0;
                    display: inline-block;
                    img {
                        @include border-top-radius($border-radius-base);
                        @include border-bottom-radius($border-radius-base);
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .dependencies,
        .dependents {
            overflow: hidden;
            span {
                i {
                    font-size: 14px;
                }
            }
            .label {
                font-size: 10px;
                padding: 2px 5px;
                top: -2px;
                position: relative;
                margin-left: 5px;
            }
        }
    }
}

.head-project {
    padding: 40px 0;
    min-height: 271px;
    background: url('../assets/img/head-project-background.png') no-repeat center top #0D343C;
    color: #fff;
    .bootstrap-select >  {
        .dropdown-toggle {
            width: auto;
            min-width: 140px;
            padding-right: 25px;
            z-index: 1;
        }
    }
    .info-project {
        margin-bottom: 30px;
        h1, .homepage {
            margin-top: 0;
            color: $brand-primary;
        }
        .contributors-tag {
            display: inline-block;
            img {
                height: 25px;
            }
        }
        i {
            margin-right: 6px;
        }
        p {
            font-size: $font-size-large;
            margin-top: 10px;
        }
        .description {
            display: inline-block;
        }
        .homepage {
            padding-left: 10px;
        }
        @media screen and (min-width: $screen-md-min) {
            margin-bottom: 0;
        }
    }
    .artifact-project {
        img {
            width: 140px;
            margin-top: 10px;
            height: auto;
        }
        .btn-primary {
            @include button-variant($btn-primary-color,
                    rgba(255, 255, 255, 0.1),
                    $btn-primary-border);
        }
        .dropdown-menu {
            border: none;
            background-color: rgba($gray-lighter, 0.7);
            padding: 0;
        }

        form {
            display: block;
            margin: 5px;
        }
    }
}