@import scaladex.core.model.{BinaryVersion, Project}
@import scaladex.core.model.search.SearchParams
@import scaladex.core.model.Platform
@import scaladex.core.model.Artifact
@import scaladex.view.html.main
@import scaladex.core.model.UserState
@import scaladex.core.model.Env

@(
  env: Env,
  topics: List[(String, Int)],
  platformTypes: Seq[(Platform.PlatformType, Int)],
  scalaVersions:Seq[(String, Int)],
  scalaJsVersions: Seq[(BinaryVersion, Int)],
  scalaNativeVersions: Seq[(BinaryVersion, Int)],
  sbtVersions: Seq[(BinaryVersion, Int)],
  latestProjects: Seq[Project],
  mostDependedUpon: Seq[Project],
  latestArtifacts: Seq[Artifact],
  user: Option[UserState],
  ecosystems: Map[String, String],
  totalProjects: Long,
  totalArtifacts: Long,
  contributingProjects: Seq[Project]
)

@main(env, title = "Scaladex", showSearch = false, user) {
<main id="container-home">
    <section class="content-search-home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>The Scala Library Index</h1> @searchinput(SearchParams(), false, Some(totalProjects), Some(totalArtifacts))
                    <ul class="tag">
                        <li><strong>Topics:</strong></li>
                        @for((topic, count) <- topics) {
                            <li><a href="/search?q=*&topics=@topic">@topic (@count)</a></li>
                        }
                    </ul>
                    <ul class="tag">
                        <li><strong>Platforms:</strong></li>
                        @platformTypes.map { case (platformType, count) =>
                            <li>
                                <a href="/search?q=*&targetTypes=@platformType.name">@platformType.label (@count)</a>
                            </li>
                        }
                    </ul>
                    <ul class="tag">
                        <li><strong>Scala Versions:</strong></li>
                        @scalaVersions.map { case (scalaVersion, count) =>
                            <li>
                                <a href="/search?q=*&scalaVersions=@scalaVersion">@scalaVersion (@count)</a>
                            </li>
                        }
                    </ul>
                    <ul class="tag">
                        <li><strong>Sbt Versions:</strong></li>
                        @for((sbtVersion, count) <- sbtVersions) {
                            <li>
                                <a href="/search?q=*&sbtVersions=@sbtVersion">@sbtVersion (@count)</a>
                            </li>
                        }
                    </ul>
                    <ul class="tag">
                        <li><strong>Scala.js Versions:</strong></li>
                        @for((scalaJsVersion, count) <- scalaJsVersions) {
                            <li>
                                <a href="/search?q=*&scalaJsVersions=@scalaJsVersion">@scalaJsVersion (@count)</a>
                            </li>
                        }
                    </ul>
                    <ul class="tag">
                        @if(scalaNativeVersions.nonEmpty) {
                            <li><strong>Scala-Native Versions:</strong></li>
                            @for((scalaNativeVersion, count) <- scalaNativeVersions) {
                                <li>
                                    <a href="/search?q=*&scalaNativeVersions=@scalaNativeVersion">@scalaNativeVersion (@count)</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="tag">
                        <li><strong>Ecosystems:</strong></li>
                        @for((name, url) <- ecosystems) {
                            <li><a href="/@url">@name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @if(contributingProjects.nonEmpty) {
      <section class="recent-projects contributing-projects" id="contribute">
          <div class="container">
              <h2 class="text-center">Looking for a project to contribute to?</h2>
              <h4 class="text-center">Each project below has beginner-friendly issues
              which are great places to start contributing.<br>To find more projects,
                use the <a href="/search?q=&contributingSearch=true">Contributing Search.</a>
              </h4>
              <div class="row">
                  @for(project <- contributingProjects){
                      <div class="col-md-4 col-sm-6">
                          <div class="content-contributing-project box">
                              <div class="content-project-header">
                                <a href="/@project.organization/@project.repository">
                                  @githubUserAvatar(project.githubInfo.flatMap(_.logo))
                                  <h4>@project.organization/@project.repository</h4>
                              </div>
                              @contributingInfo(project)
                        </div>
                      </div>
                  }
              </div>
          </div>
      </section>
    }
    <section class="recent-projects" id="recent-projects">
        <div class="container">
            <h2 class="text-center">Recent projects</h2>
            <div class="row">
                @for(project <- latestProjects){
                    <div class="col-md-4 col-sm-6">
                        <a href="/@project.organization/@project.repository">
                            <div class="content-project box">
                                <div class="content-project-header">
                                    @githubUserAvatar(project.githubInfo.flatMap(_.logo))
                                    <h4>@project.organization/@project.repository</h4>
                                </div>
                                <div class="content-project-body">
                                    @for(github <- project.githubInfo) {
                                      @for(description <- github.description) {
                                        <p class="description emojify">@description</p>
                                      }
                                    }
                                    @for(created <- project.creationDate) {
                                        @{formatInstant(created)}
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <a class="btn btn-default" href="/search?q=*&sort=created">More ...</a>
        </div>
    </section>
        <section class="recent-projects" id="most-depended-upon-projects">
        <div class="container">
            <h2 class="text-center">Most depended-upon Projects</h2>
            <div class="row">
                @for(project <- mostDependedUpon){
                    <div class="col-md-4 col-sm-6">
                        <a href="/@project.organization/@project.repository">
                            <div class="content-project box">
                                <div class="content-project-header">
                                    @githubUserAvatar(project.githubInfo.flatMap(_.logo))
                                    <h4>@project.organization/@project.repository</h4>
                                </div>
                                <div class="content-project-body">
                                    @for(github <- project.githubInfo) {
                                      @for(description <- github.description) {
                                        <p class="description">@description</p>
                                      }
                                    }
                                    @for(created <- project.creationDate) {
                                        @{formatInstant(created)}
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <a class="btn btn-default" href="/search?q=*&sort=dependent">More ...</a>
        </div>
    </section>
    <section class="recent-artifacts" id="recent-artifacts">
        <div class="container">
            <h2 class="text-center">Recent artifacts</h2>
            <div class="list-result box">
                @for(artifact <- latestArtifacts){
                <div class="item-list">
                    <a href="@artifact.httpUrl">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>@artifact.artifactName</h4>
                                <span class="pull-right">@artifact.version</span>
                            </div>
                        </div>
                    </a>
                </div>
                }
            </div>

            <a class="more-results btn btn-default" href="/search?q=*&sort=updated">More ...</a>
        </div>
    </section>
</main>
}
