@import scaladex.view.SchedulerStatus
@import scaladex.view.html._
@import scaladex.core.model.UserState

@import scala.concurrent.duration.FiniteDuration
@import java.time.Instant
@(production: Boolean, user: UserState, schedulers: Seq[SchedulerStatus])

@main(production, title = "Admin page", showSearch = false, Some(user)) {
    <main class="admin">
        <div class="container">
            <h2>Scheduler Status</h2>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Last run at</th>
                            <th scope="col">Duration of Last run</th>
                            <th scope="col">Progress</th>
                            <th scope="col" style="text-align: right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @schedulers.map { scheduler =>
                        <tr>
                            <th scope="row">@scheduler.name</th>
                            <td>@scheduler.status<br/>
                                at @formatInstant(scheduler.when)</td>
                            <td>@scheduler.lastRunAt.map(formatInstant).getOrElse("No run before")</td>
                            <td>@scheduler.durationOfLastRun.map(prettyPrint).getOrElse("No run before")</td>
                            <td>
                            @scheduler match {
                                case SchedulerStatus.Started(_, _, true, Some(triggeredWhen), durationOfLastRun: Option[FiniteDuration]) => {
                                    @progressbar(triggeredWhen, Instant.now(), durationOfLastRun)
                                }
                                case s: SchedulerStatus.Started => { Waiting }
                                case _ => { _ }
                            }
                            </td>
                            <td style="text-align: right">
                            @if(scheduler.isStarted()) {
                                <form action="/admin/@{scheduler.name}/stop" method="post">
                                    <button type="submit" class="btn btn-danger">Stop</button>
                                </form>

                            } else {
                                <form action="/admin/@{scheduler.name}/start" method="post">
                                    <button type="submit" class="btn btn-success">Start</button>
                                </form>
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
}
