@import java.time.Instant
@import scala.concurrent.duration.FiniteDuration
@import scaladex.core.util.TimerUtils
@import scaladex.view.html._

@(triggeredWhen: Instant, now: Instant, lastRunDuration: Option[FiniteDuration])
@duration = @{TimerUtils.toFiniteDuration(triggeredWhen, now)}
@lastRun = @{lastRunDuration.getOrElse(duration)}
@percentage = @{TimerUtils.percentage(duration, lastRun)}

<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@percentage" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%">
        @{prettyPrint(duration)} (@{percentage.round} %)
    </div>
</div>
