@import scaladex.core.model._


@(
  highlights: Seq[EcosystemHighlight]
)
<div class = "ecosystem-badges">
@for(highlight <- highlights) {
  <div class="ecosystem-badge">
    <div class = "ecosystem-badge-text">
      <a class="badge-title" href = "@highlight.currentVersion.search.target">@highlight.ecosystem @highlight.currentVersion.version</a>
        <p><b>@highlight.currentVersion.libraryCount</b> projects</p>
        @if(highlight.otherVersions.nonEmpty) {
          <p class = "badge-other-versions">
            <i>Other versions: @highlight.otherVersions.map { ver => 
              @if(!ver.deprecated) {
                  <a class = "badge-other-version" href = "@ver.search.target">@ver.version</a>
                } else {
                  <a class = "badge-other-version-deprecated" href = "@ver.search.target">@ver.version</a>
                }
              }
            </i>
          </p>
        }
    </div>
  </div>
}
</div>
