@import scaladex.core.model.search.ProjectDocument
@import scaladex.core.model.search.SearchParams
@import scaladex.core.model._
@import scaladex.core.model.UserState
@import scaladex.core.model.Env
@import scaladex.core.model.Scala

@(
  env: Env,
  topics: Seq[TopicCount],
  scalaVersions: Seq[EcosystemHighlight],
  platforms: Seq[EcosystemHighlight],
  buildToolPlugins: Seq[EcosystemHighlight],
  ecosystems: Seq[(String, Url)],
  latestProjects: Seq[ProjectDocument],
  mostDependedUpon: Seq[ProjectDocument],
  user: Option[UserState],
  totalProjects: Int,
  totalArtifacts: Long
)

@main(env, title = "Scaladex", user, showSearch = false) {
<main id="container-home">
    <section class="content-search-home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>The Scala Library Index</h1> @searchinput(SearchParams(), false, Some(totalProjects), Some(totalArtifacts))
                    @topicsCloud(topics)
                    @ecosystemHighlights(scalaVersions)
                    @ecosystemHighlights(platforms)
                    <div class = "ecosystem-heading">Build tool plugins</div>
                    @ecosystemHighlights(buildToolPlugins)
                    <ul class="tag">
                        <li><strong>Ecosystems:</strong></li>
                       @for((name, url) <- ecosystems) {
                            <li><a href="/@url.target">@name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="recent-projects" id="recent-projects">
        <div class="container">
            <h2 class="text-center">Recent projects</h2>
            <div class="row">
                @for(project <- latestProjects){
                    <div class="col-md-4 col-sm-6">
                        <a href="/@project.organization/@project.repository">
                            <div class="content-project box">
                                <div class="content-project-header">
                                    @githubUserAvatar(project.githubInfo.flatMap(_.logo))
                                    <h4>@project.organization/@project.repository</h4>
                                </div>
                                <div class="content-project-body">
                                    @for(github <- project.githubInfo) {
                                      @for(description <- github.description) {
                                        <p class="description emojify">@description</p>
                                      }
                                    }
                                    @for(created <- project.creationDate) {
                                        @{formatInstant(created)}
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <a class="btn btn-default" href="/search?q=*&sort=created">More ...</a>
        </div>
    </section>
        <section class="recent-projects" id="most-depended-upon-projects">
        <div class="container">
            <h2 class="text-center">Most depended-upon Projects</h2>
            <div class="row">
                @for(project <- mostDependedUpon){
                    <div class="col-md-4 col-sm-6">
                        <a href="/@project.organization/@project.repository">
                            <div class="content-project box">
                                <div class="content-project-header">
                                    @githubUserAvatar(project.githubInfo.flatMap(_.logo))
                                    <h4>@project.organization/@project.repository</h4>
                                </div>
                                <div class="content-project-body">
                                    @for(github <- project.githubInfo) {
                                      @for(description <- github.description) {
                                        <p class="description">@description</p>
                                      }
                                    }
                                    @for(created <- project.creationDate) {
                                        @{formatInstant(created)}
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <a class="btn btn-default" href="/search?q=*&sort=dependent">More ...</a>
        </div>
    </section>
</main>
}
