name: CI
on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 
      - develop
jobs:
  checks:
    name: Scalafmt and Scalafix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: coursier/setup-action@v1
      - run: sbt "scalafixAll --check"
      - run: ./bin/scalafmt --test
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: coursier/setup-action@v1
        with:
          jvm: "adopt:1.8"
      - uses: coursier/cache-action@v6
      - name: Unit tests
        run: sbt test
        shell: bash
      - name: Package server
        run: sbt server/universal:packageBin
        shell: bash
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: coursier/setup-action@v1
        with:
          jvm: "adopt:1.8"
      - name: Integration tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sbt 'IntegrationTest/test'
