name: Sbt Dependency Graph
on:
  push:
    branches:
      - main
jobs:
  updat-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: scalacenter/sbt-dependency-submission@v3
